.orane_color {
    color: #ff6600;
}

.btn-search {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-search {
    padding: 10px 20px;
    font-size: 15px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}


.btn-detail {
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    font-size: 14px;
    padding: 9px 60px;
    border-radius: 8px;
    cursor: pointer;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #ffffff;
    border: none;
    clear: both;
    height: 57px;
    line-height: 55px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* user-select: none; */
    white-space: nowrap;
    width: auto;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    color: #6E6E6E;
    cursor: pointer;
    font-size: 14px;
    height: 57px;
    line-height: 54px;
    white-space: nowrap;
    font-family: 'Inter', sans-serif;
    width: auto;
}
.mt-20 {
    margin-top: 20px;
}
.text-media {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    color: #2F4848;
    font-weight: 800;
}

.img-respone-service {
    height: 260px;
    width: 100%;
}
.bg-doctor {
    background-color: #F8FFFF;
}
.doctor-avartar {
    background-color: #F8FFFF;
    justify-self: center;
}
.pxs-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-mobile {
    padding-left: 0px;
    padding-right: 50px;
}
.text-d-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #2F4848;
    font-weight: 700;
}
.text-d-2 {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #2F4848;
    font-weight: 500;
}
.text-d-3 {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #2F4848;
    font-weight: 500;
}
@media (max-width: 768px) {
    .container-mobile {
        padding-left: 30px;
        padding-right: 30px;
    }

    .pxs-3 {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .psi-1 {
        padding-left: 6px;
        padding-right: 4px;
    }

    .text-media {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #2F4848;
        font-weight: 800;
    }

    .img-respone-service {
        height: 130px;
        width: 100%;
    }

    .text-limit-c-row {
        margin: 0px;
        overflow: hidden !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
    }
    .pl-mobile-0 {
        padding-left: 0px !important;
    }
    .pr-mobile-0 {
        padding-right: 0px !important;
    }
    .btn-detail {
        margin-bottom: 10px;
        background-color: #ff6600;
        color: white;
        border: none;
        font-size: 10px;
        padding: 6px 60px;
        border-radius: 8px;
        cursor: pointer;
    }
    .text-d-2 {
        font-family: 'Inter', sans-serif;
        font-style: italic;
        font-size: 11px;
        color: #2F4848;
        font-weight: 500;
    }
    .text-d-3 {
        font-family: 'Inter', sans-serif;
        font-style: italic;
        font-size: 10px;
        color: #2F4848;
        font-weight: 500;
    }
}
