.layout-home {
    background: #e1f3f3;
    height: 524px;
}

.layout-home-white {
    background: white;
    height: 524px;
}

.floating-box-wrapper {
    position: relative;
    height: 0;
}

.floating-box {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 0px;
    gap: 10px;
    justify-content: center;
    z-index: 10;
    width: 752px;
    height: 138px;
}

.box-item {
    flex: 1;
    text-align: center;
    padding: 10px;
}

    .box-item .icon {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }

.bg-hover-green:hover {
    background: #009F9C;
    color: #ffffff;
}

.author-img-circle {
    background: #009f9c;
    border-radius: 50%;
    width: 454px;
    height: 444px;
    text-align: center;
}

.author-info-text {
    font-size: 50px;
    font-family: Montserrat;
}

.author-info-small-text {
    color: #999999;
}

.service-card {
    background: #ffffff;
    border-radius: 25.91px;
    padding: 40px 10px;
    margin-bottom: 30px;
}

.service-img-wrapper {
    background: #F6F9FE;
    width: 110px;
    height: 110px;
    border-radius: 25.91px;
    align-content: center;
    text-align-last: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* tại sao chọn chúng tôi*/
.bg-info-gradient {
    background: linear-gradient(101deg, #D2FFFE, #009F9C);
    color: #ffffff;
}

.form-section-wrapper {
    position: relative;
    background-color: #e0f7fa;
    background-image: linear-gradient(101deg, #FFFFFF, #E4FFFE);
    width: 340px;
    height: 310px;
    border-radius: 0px;
}

.doctor-overlay-wrapper {
    position: absolute;
    left: 5px;
    bottom: 0;
    z-index: 10;
}

.doctor-overlay {
    width: 240px;
    object-fit: contain;
}


.form-section {
    background-color: #e0f7fa;
    padding: 0rem;
    border-radius: 10px;
}

.map-section iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.doctor-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.z-100 {
    z-index: 100;
}

.tranform-x {
    transform: translateX(110px);
    white-space: nowrap;
}
/* Khách hàng nói gì về chúng tôi*/
.client-img-wrapper {
    background: #F6F9FE;
    width: 80px;
    height: 80px;
    align-content: center;
    text-align-last: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-client-boder {
    border-radius: 25.91px;
}

.related-services {
    margin: 0 auto;
    padding: 20px 70px;
    position: relative;
}

    .related-services h2 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
    }

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding-bottom: 10px;
}

.service-card {
    flex: 0 0 300px;
    background: #fff;
    overflow: hidden;
}

.service-content {
    padding: 15px;
}

    .service-content h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .service-content p {
        font-size: 14px;
        color: #555;
    }

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: orange;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

.bottom-line {
    border-bottom: 1px solid #E9EFF5;
}

.justify-items-center {
    justify-items: center;
    align-items: center;
}

.nav-left {
    left: 10px;
}

.nav-right {
    right: -10px;
}

.slider-container::-webkit-scrollbar {
    display: none;
}
/* //video */
.video-caption {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    font-size: 14px;
}
