
.text-c-d {
    font-family: 'Montserrat',sans-serif !important;
    color: #2F4848;
    font-size: 30px;
    font-weight: 700;
}

.dmb-30{
        margin-bottom: 10px;
}

@media (max-width: 768px) {
    .text-c-d {
        font-family: 'Montserrat',sans-serif !important;
        color: #2F4848;
        font-size: 25px;
        font-weight: 700;
    }
    .dmb-30 {
        margin-bottom: 10px;
    }
}
