.orane_color {
    color: #ff6600;
}

h2 {
    color: #2F4848;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.btn-search {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-search {
    padding: 10px 20px;
    font-size: 15px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-mobile {
    padding-left: 10px;
    padding-right: 30px;
    text-align: justify;
}

.pxs-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-media {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #2F4848;
    font-weight: 800;
}

.img-respone-service {
    height: 235px;
    width: 100%;
}

.text-limit-c-row {
    text-align: left;
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
}

.card-hover:hover {
    background: #00B9B5;
    color: #ffffff !important;
}

    .card-hover:hover a,
    .card-hover:hover p,
    .card-hover:hover .post-title {
        color: #ffffff !important;
    }

.text-c-cckh {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #2F4848;
    font-weight: 700;
}

.text-c-cckh-1 {
    background: linear-gradient(to right, #009F9C, #8FD9D7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color-interpolation: inherit;
}
/* Khách hàng nói gì về chúng tôi*/
.client-img-wrapper {
    background: #F6F9FE;
    width: 80px;
    height: 80px;
    align-content: center;
    text-align-last: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-client-boder {
    border-radius: 25.91px;
}

.related-services {
    margin: 0 auto;
    padding: 20px 18px 20px 39px;
    position: relative;
}

    .related-services h2 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
    }

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding-bottom: 10px;
}

.service-card {
    background: #ffffff;
    border-radius: 25.91px;
    padding: 40px 10px;
    margin-bottom: 10px;
    box-shadow: 7px 0px 40px rgb(193 147 147 / 5%);
}

.service-card {
    flex: 0 0 300px;
    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.service-content {
    padding: 15px;
}

    .service-content h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .service-content p {
        font-size: 14px;
        color: #555;
    }

.nav-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: #f26522;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

.bottom-line {
    border-bottom: 1px solid #E9EFF5;
}

.justify-items-center {
    justify-items: center;
    align-items: center;
}

.nav-left {
    left: 10px;
}

.nav-right {
    right: -10px;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.text-ic-5 {
    font-family: 'Montserrat', sans-serif;
    color: #2F4848;
    font-size: 30px;
    font-weight: 700;
}

.text-ics-5 {
    font-family: 'Inter', sans-serif;
    color: #000000;
}


.img-client-boder {
    height: auto;
    display: block;
    margin: 0 auto;
}

.text-primary {
    background: linear-gradient(90deg, #009688, #00BCD4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.fa {
    color: #FF7F22;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img-respone-service {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .text-ic-5 {
        font-family: 'Montserrat', sans-serif;
        color: #2F4848;
        font-size: 20px;
        font-weight: 700;
    }

    .container-mobile {
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
    }

    .text-c-cckh {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #2F4848;
        font-weight: 700;
    }

    .text-detailkh-1 {
        margin-top: 10px;
        font-family: 'Manrope', sans-serif;
        color: #F26522;
        font-size: 12px;
        font-weight: 600;
    }

    .pxs-3 {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .psi-1 {
        padding-left: 6px;
        padding-right: 4px;
    }

    .text-media {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #2F4848;
        font-weight: 800;
    }

    .img-respone-service {
        height: 130px;
        width: 100%;
    }

    .text-limit-c-row {
        text-align: left;
        margin: 0px;
        overflow: hidden !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
    }
}
