<link href="~/web/assets/css/faqs.css" rel="stylesheet" />
<link href="~/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dot/doT.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="~/assets/libs/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/ajax/webappclient.faqs.js"></script>
    <script>
        var widgetIdPC = null;
        var widgetIdMobile = null;

        function initRecaptcha() {
            widgetIdPC = grecaptcha.render('recaptcha-pc', {
                'sitekey': '@ViewBag.ReCaptchaKey'
            });
            widgetIdMobile = grecaptcha.render('recaptcha-mobile', {
                'sitekey': '@ViewBag.ReCaptchaKey'
            });
        }
        window.onload = function () {
            initRecaptcha();
        };
    </script>
    <script src="~/ajax/webappclient.lienhe.js"></script>
}
<div class="entry-header entry-header-2 mb-1 mt-0 text-center">
    <div class="thumb-overlay img-hover-slide position-relative" style="background-image: url(/web/assets/imgs/farme.png)">
    </div>
</div>
<div class="container px-30 py-2 container-mobile">
    <div class="archive-header text-center mb-30 mt-10">
        <div class="container">
            <div class="breadcrumb">
                <span class="no-arrow text-c-0">FAQs</span>
            </div>
            <div>
                <span class="text-head-breadcrumb text-c-5">Câu hỏi thường gặp</span>
            </div>
        </div>
    </div>
    <div class="row" id="list_bai_viet">
    </div>
    <div class="pagination-area mb-30">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pagination">
            </ul>
        </nav>
    </div>

    <div class="question-doctor mt-120">
        <div class="container pl-md-0">
            <div class="">
                <div class="form-section-wrapper mb-30 row">
                    <div class="form-section-wrapper mb-30  hide-on-mobile">
                        <div class="doctor-overlay-wrapper">
                            <img src="@Url.Content("~/root/imglh.png")" alt="Doctor" class="doctor-overlay">
                        </div>
                    </div>
                    <div class="form col-md-8 position-absolute tranform-x ml-30  px-form bg-form" style="z-index:100;margin: 0px !important;">
                        <div class="txt-dkk">Đăng ký khám, nhận thông tin mới từ chúng tôi!</div>
                        <div class="mt-30 row">
                            <div class="col-md-6 p-0">
                                <div class="col-md-12 form-group mb-2">
                                    <span class="me-3">
                                        <input type="radio" name="gender" id="gender-male" value="male" checked style="accent-color: #F26522;">
                                        <label for="gender-male">Ông</label>
                                    </span>
                                    <span>
                                        <input type="radio" name="gender" id="gender-female" value="female" style="accent-color: #F26522;">
                                        <label for="gender-female">Bà</label>
                                    </span>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" id="ho_ten" placeholder="Nhập tên của bạn...">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn...">
                                </div>

                                <div class="form-group mt-2 col-md-12 hide-on-mobile">
                                    <div id="recaptcha-pc"></div>
                                </div>
                                <div class="form-group col-md-6 hide-on-mobile" style="margin-top:30px">
                                    <a href="#" onclick="CheckBeforeSend()" class="btn main-menu border-radius-5 d-lg-inline btn-orrange py-2 w-100" style=" padding: 0px 67px;font-weight: 700;font-family: 'Montserrat'">Gửi</a>
                                </div>
                            </div>
                            <div class="col-md-6 mt-form p-0">
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" id="so_dien_thoai" placeholder="Số điện thoại của bạn">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" id="loi_nhan" rows="5" placeholder="Nhập lời nhắn..."></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Nút gửi để dưới toàn form -->
                        <!--div class="form-group col-md-12 p-0  d-block d-md-none">
                            <a href="#" onclick="SendForm()" class="btn main-menu btn-orrange w-100" style="padding:20px">Gửi</a>
                        </div>-->
                        <div class="form-group col-md-12 p-0  d-block d-md-none">
                            <div id="recaptcha-mobile"></div>
                        </div>
                        <div class="form-group col-md-12 p-0  d-block d-md-none">
                            <a href="#" onclick="CheckBeforeSend()" class="btn main-menu btn-orrange w-100" style="padding:20px">Gửi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script id="news-template" type="text/x-dot-template">
    {{ for(var i = 0; i < it.newsList.length; i++) { }}
        <div class="accordion accordion-flush col-sm-6 mb-4">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed shadow-sm p-3" type="button" data-bs-toggle="collapse" data-bs-target="#{{=it.newsList[i].idFaqs}}">
                        <p class="fx-Montserrat"></p>
                        {{=it.newsList[i].cauHoi}}
                    </button>
                </h2>
                <div id="{{=it.newsList[i].idFaqs}}" class="accordion-collapse collapse shadow ">
                    <div class="accordion-body" style="font-family:Inter;font-size:14px;margin-bottom: 0px;color:#363049">
                        {{=it.newsList[i].cauTraLoi}}
                    </div>
                </div>
            </div>
        </div>
    {{ } }}
</script>   