@{
	ViewData["Title"] = "DangKyTaiKhoan";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.services-one__icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		/* height: 100px; */
		/* width: 100px; */
		margin: 0 auto 0;
		background-color: #ffffff;
		/* border-radius: 50%; */
		border: 1px solid transparent;
		overflow: hidden;
		-webkit-transition: all 500ms ease;
		transition: all 500ms ease;
		z-index: 1;
	}
	
	.services-one__single {
		position: relative;
		display: block;
		border: 2px solid #ebebeb;
		border-radius: 20px;
		text-align: center;
		padding: 30px 30px 25px;
		margin-bottom: 30px;
		overflow: hidden;
		-webkit-transition: all 500ms ease;
		transition: all 500ms ease;
		z-index: 1;
	}
</style>
<section class="checkout-page sign-up-one__form pt-4">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<div class="billing_details">
					<div class="billing_title">
						<p>Bạn đã có tài khoản? <span>Đăng nhập ngay</span></p>
							<h2>Đăng ký tài khoản</h2>
					</div>

					<form class="billing_details_form">
						<div class="row bs-gutter-x-20">
							<div class="col-xl-4">
								<div class="billing_input_box">
									<input type="text" name="" value="" placeholder="Họ" required="">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<input type="text" name="" value="" placeholder="Tên đệm" required="">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<input type="text" name="" value="" placeholder="Tên" required="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-12">
								<div class="billing_input_box">
									<input type="text" name="" value="" placeholder="Tên đăng nhập">
								</div>
							</div>
							<div class="col-xl-12">
								<div class="billing_input_box">
									<input type="text" name="" value="" placeholder="Mật khẩu">
								</div>
							</div>
							<div class="col-xl-12">
								<div class="billing_input_box">
									<input type="text" name="" value="" placeholder="Nhập lại mật khẩu">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<input type="text" name="" value="" placeholder="Email" required="">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<input type="text" name="" value="" placeholder="Số điện thoại" required="">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<div class="select-box">
										<select class="wide" style="display: none;">
											<option data-display=" -- Chọn giới tính --">
												-- Chọn giới tính --
											</option>
											<option value="Nam">Nam</option>
											<option value="Nữ">Nữ</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row bs-gutter-x-20">
							<div class="col-xl-4">
								<div class="billing_input_box">
									<div class="select-box">
										<select class="wide" style="display: none;">
											<option>-- Chọn ngày sinh --</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<div class="select-box">
										<select class="wide" style="display: none;">
											<option>-- Chọn tháng sinh --</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<div class="select-box">
										<select class="wide" style="display: none;">
											<option>-- Chọn năm sinh --</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<div class="select-box">
										<select class="wide" style="display: none;">
											<option>-- Chọn Tỉnh/Thành --</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<div class="select-box">
										<select class="wide" style="display: none;">
											<option>-- Chọn Quận/Huyện --</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<div class="select-box">
										<select class="wide" style="display: none;">
											<option>-- Chọn Xã/Phường --</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="billing_input_box">
									<input name="" type="text" placeholder="Địa chỉ chi tiết">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<input type="text" name="" value="" placeholder="CCCD/CMND">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<input type="date" name="" value="" placeholder="" required="">
								</div>
							</div>
							<div class="col-xl-4">
								<div class="billing_input_box">
									<input type="text" name="" value="" placeholder="Nơi cấp" required="">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 wow fadeInLeft animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInLeft;">
								<div class="services-one__single">
									<div class="services-one__icon">
										<img src="https://lacvietauction.vn/auctionart/upload/image/SelectCMNDFIrst.png" />
										<div class="services-one__icon-shape-1"></div>
										<div class="services-one__icon-shape-2"></div>
									</div>
									<h3 class="services-one__title">
										<a href="careful-car-service-station.html">Tải lên ảnh mặt trước CMND/CCCD</a>
									</h3>
									<p class="services-one__text">
										(JPG, PNG kích thước nhỏ hơn 10MB)
									</p>
									<div class="services-one__single-shape-1"></div>
									<div class="services-one__single-shape-2"></div>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 wow fadeInLeft animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInLeft;">
								<div class="services-one__single">
									<div class="services-one__icon">
										<img src="https://lacvietauction.vn/auctionart/upload/image/UploadCMNDLast.png" alt="Alternate Text" />
										<div class="services-one__icon-shape-1"></div>
										<div class="services-one__icon-shape-2"></div>
									</div>
									<h3 class="services-one__title">
										<a href="careful-car-service-station.html">Tải lên ảnh mặt trước CMND/CCCD</a>
									</h3>
									<p class="services-one__text">
										(JPG, PNG kích thước nhỏ hơn 10MB)
									</p>
									<div class="services-one__single-shape-1"></div>
									<div class="services-one__single-shape-2"></div>
								</div>
							</div>
						</div>
						<div class="col-xl-12">
							<div class="billing_input_box">
								<input type="text" name="" value="" placeholder="Số tài khoản ngân hàng" required="">
							</div>
						</div>
						<div class="col-xl-12">
							<div class="billing_input_box">
								<div class="select-box">
									<select class="wide" style="display: none;">
										<option>-- Tên ngân hàng --</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xl-12">
							<div class="billing_input_box">
								<input type="text" name="" value="" placeholder="Chi nhánh ngân hàng" required="">
							</div>
						</div>
						<div class="col-xl-12">
							<div class="billing_input_box">
								<input type="text" name="" value="" placeholder="Tên chủ ngân hàng" required="">
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-xl-12">
								<div class="checked-box">
									<input type="checkbox" name="skipper1" id="skipper" checked="">
									<label for="skipper">
										<span></span>Tôi cam kết tuân thủ Quyền và trách nhiệm của Người tham gia đấu giá (Quy định theo tài sản đấu giá)
										, Chính sách bảo mật thông tin khách hàng ,
										Cơ chế giải quyết tranh chấp , Quy chế hoạt động tại website đấu giá trực tuyến lacvietauction.vn
									</label>
								</div>
							</div>
						</div>
						<div class="row mt-3 pt-2">
							<div class="col-xl-12">
								<button class="btn btn-danger btn-lg w-100" type="button" onclick="Register()">Đăng ký tài khoản</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>