@{
    ViewData["Title"] = "DanhMucHeThong";
    Layout = "~/Areas/Admin/Views/Shared/_ViewAdmin.cshtml";
}
@section Scripts {
    <script src="~/assets/plug/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/ajax/webappservice.tinymcesetting.js?v=1.2"></script>
    <script> tinymceSettings(['#editor'], 300); </script>
    <script src="~/ajax/webappservice.danhsachnhansu.js"></script>
}

<div class="card-header mt-2">
    <h4 class="card-title">Danh sách nhân sự</h4>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 border position-relative overflow-hidden">
                <div class="card-header p-1">
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-sm" id="btnNewForm" data-bs-toggle="modal" data-bs-target="#bsHoSoCanBo">
                            <i class="ti ti-plus fs-2"></i> Tạo mới bản ghi
                        </button>
                  
                    </div>
                </div>
                <div class="card-body p-2">
                    <table id="tableDanhSachNhanSu"
                           data-toggle="table"
                           data-flat="true"
                           data-search="true"
                           data-height="550"
                           data-pagination="true"
                           data-page-size="10"
                           data-page-list="[20, 25, 50, all]">
                        <thead>
                            <tr>
                                <th data-formatter="fm_editData" data-sortable="true" data-width="5" data-width="5" class="text-center">Chức năng</th>
                                <th data-field="hoTen" data-sortable="true">Họ và tên</th>
                                <th data-field="ngaySinh" data-sortable="true">Ngày sinh</th>
                                <th data-field="chucDanh" data-sortable="true">Chức danh</th>
                                <th data-field="chucVu" data-sortable="true">Chuyên khoa</th>
                                <th data-field="donViKhoa" data-sortable="true">Cơ sở làm việc</th>
                                <th data-field="seoUrl" data-sortable="true">SeoUrl</th>
                                @*       <th data-field="bangCapHocVi" data-sortable="true">Bằng cấp - học vị</th>
                                <th data-field="ngonNgu" data-sortable="true">Ngôn ngữ</th> *@
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bsHoSoCanBo" tabindex="-1" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
    <div class="modal-dialog modal-xl w-100">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <h4 class="modal-title" id="myLargeModalLabel">
                    Thông tin bác sỹ
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-0">
                <div class="row">
                    <div class="col-lg-12 d-flex align-items-stretch p-0">
                        <div class="card w-100 border position-relative m-0 overflow-hidden">
                            <div class="card-body p-3">
                                <div class="form-group">
                                    <div class="row">
                                        <input type="hidden" id="IdNhanSu" name="name" value="" />
                                        <div class="col-sm-2 d-flex align-items-stretch" style="height: max-content;">
                                            <div class="card w-100 border position-relative overflow-hidden">
                                                <div class="card-body p-2">
                                                    <div class="text-center">
                                                        <img src="~/root/Profile_avatar.png" id="imageHoSo" alt="ảnh đại diện" class="" width="150px" height="180px">
                                                        <input type="file" id="duong_dan_file" name="name" value="" hidden />
                                                        <input type="text" id="isThayDoi" hidden />
                                                        <div class="d-flex align-items-center justify-content-center my-1 gap-1">
                                                            <button class="btn bg-danger text-white" id="btnRemoveUpload"><i class="ti ti-trash"></i></button>
                                                            <button class="btn btn-primary w-100" id="btnUpload"><i class="ti ti-upload"></i> Upload</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10 row">
                                            <div class="col-sm-6 mb-2">
                                                <label class="fs-2 form-label m-0">Họ tên:<font class="text-danger">*</font> </label>
                                                <input type="text" class="form-control" placeholder="Nhập họ tên ..." id="HoTen" value="">
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <label class="fs-2 form-label m-0">Ngày sinh:<font class="text-danger">*</font></label>
                                                <input type="date" class="form-control" placeholder="" id="NgaySinh" value="">
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <label class="fs-2 form-label m-0">Chức danh:<font class="text-danger">*</font></label>
                                                <select data-placeholder="Choose a Country..." class="form-control chosen-select" id="ChucDanh" tabindex="2">
                                                    <option value="">--Chọn chức danh--</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <label class="fs-2 form-label m-0">Cơ sở làm việc:</label>
                                                @* <input type="text" class="form-control" placeholder="Cơ sở làm việc ..." id="DonViKhoa" value=""> *@
                                                <select data-placeholder="Choose a Country..." class="form-control chosen-select" id="DonViKhoa" tabindex="2">
                                                    <option value="">--Chọn Cơ sở làm việc--</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12 mb-2  ">
                                                <label class="fs-2 form-label m-0">Chuyên khoa:</label>
                                                <select data-placeholder="Choose a Country..." class="form-control chosen-select" id="ChucVu" tabindex="2">
                                                    <option value="">--Chọn Chuyên khoa--</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <label class="fs-2 form-label m-0">Bằng cấp - Học vị:</label>
                                                <textarea type="text" class="form-control" placeholder="Bằng cấp học vị ..." rows="2" id="BangCapHocVi" value=""></textarea>
                                            </div>
                                            <div class="col-sm-6 mb-2">
                                                <label class="fs-2 form-label m-0">Ngôn ngữ:</label>
                                                <textarea type="text" class="form-control" placeholder="Ngôn ngữ ..." rows="2" id="NgonNgu" value=""></textarea>
                                            </div>
                                            <div class="col-sm-12 mb-2">
                                                <label class="fs-2 form-label m-0">Đường dẫn mẫu (vi):<font class="text-danger">*</font></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="sun-medical" id="SeoUrl" value="">
                                                    <button class="btn btn-danger" id="btnAutoCode" type="button">
                                                        <div class="d-flex align-items-center">
                                                            <i class="ti ti-link me-1 fs-4"></i>
                                                            Lấy tự động
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 mb-2">
                                                <label class="fs-2 form-label m-0">Kinh nghiệm làm việc:</label>
                                                <textarea id="editor"></textarea>
                                                @* <textarea type="text" class="form-control" placeholder="Kinh nghiệm làm việc ..." rows="2" id="KinhNghiemLamViec" value=""></textarea> *@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect text-start" id="btnSaveData">
                    Lưu và kết thúc
                </button>
                <button type="button" class="btn bg-danger-subtle text-danger  waves-effect text-start" data-bs-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>

