<link href="~/web/assets/css/doctor.css" rel="stylesheet" />
<style>
    .orane_color {
        color: #ff6600;
    }
</style>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/dot/doT.min.js"></script>
    <script>
        var myClient = {
            currentPage: 1,
            pageSize: 6,

            init: function(){
                myClient.Event();
                myClient.LoadData();
            },

             Event: function () {
                $(document).on('click', '.page-link', function () {
                    var page = $(this).data("page");
                    myClient.currentPage = page;
                    myClient.LoadData();
                });
            },

             LoadData: function () {
                $.ajax({
                    url: '/Doctor/LoadData',
                    type: "GET",
                    data: {
                        page: myClient.currentPage,
                        pageSize: myClient.pageSize
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.status == true) {

                            if (data.lstData != null) {
                                var template = doT.template($("#news-template").html());
                                $("#list_bai_viet").html(template({ newsList: data.lstData }));
                            }

                            // Phân trang
                            var totalPages = Math.ceil(data.totalRow / myClient.pageSize);
                            myClient.RenderPagination(totalPages);
                        }
                    }
                });
            },

            RenderPagination: function (totalPages) {
                var pagination = '';
                for (var i = 1; i <= totalPages; i++) {
                    pagination += '<li class="page-item ' + (i === myClient.currentPage ? 'active' : '') + '">' +
                        '<a class="page-link" href="javascript:void(0)" data-page="' + i + '">' + i + '</a></li>';
                }
                $("#pagination").html('<ul class="pagination justify-content-center">' + pagination + '</ul>');
            },

        }
        myClient.init();

    </script>
}
<div class="entry-header entry-header-2 mb-0 mt-0 text-center">
    <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/web/assets/imgs/farme.png)">
    </div>
</div>
<div class="container container-mobile">
    <div class="row mt-5">
        <div class="col-sm-5 d-flex align-items-center">
            <h2>Danh sách bác sĩ của chúng tôi</h2>
        </div>
        <div class="col-sm-7 align-items-center">
            <div class="filter" style="background:white">
                <div style="display:flex;gap: 10px;">
                    <div class="filter-item">
                        <i class="fas fa-heartbeat orane_color"></i>
                        <select>
                            <option>Chọn cơ sở</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <i class="fas fa-heartbeat orane_color"></i>
                        <select>
                            <option>Chọn chuyên khoa</option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <a href="#" class="main-menu d-none d-lg-inline btn-sm btn-orrange ml-2 mt-2">Tìm kiếm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="doctors" id="list_bai_viet">
    </div>
    <div class="pagination-area mt-30 mb-30">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pagination">
            </ul>
        </nav>
    </div>
</div>
<script id="news-template" type="text/x-dot-template">
    {{ for(var i = 0; i < it.newsList.length; i++) { }}
          <div class="doctor-card">
            <img src="{{=it.newsList[i].urlImage}}" alt="Ảnh bác sĩ" width="308px" />
            <h3>{{=it.newsList[i].hoTen}}</h3>
            <p><i class="fas fa-graduation-cap"></i> {{=it.newsList[i].chucDanh}}</p>
            <p><i class="fas fa-house-medical"></i> {{=it.newsList[i].donViKhoa}}</p>
            <button class="btn-detail" 	onclick="window.location.href = '/Doctor/DoctorDetail/{{=it.newsList[i].idNhanSu}}'">Chi tiết</button>
        </div>
    {{ } }}
</script>