@{
    ViewData["Title"] = "Cở sở làm việc";
    Layout = "~/Areas/Admin/Views/Shared/_ViewAdmin.cshtml";
}
<style>
    .select,
    #locale {
        width: 100%;
    }

    .like {
        margin-right: 10px;
    }
</style>
@section Scripts {
    <script src="~/ajax/webappservice.danhmuchethong.js?v=1.2"></script>
}
<div class="card-body">
    <div class="row">
        <div class="col-lg-6 d-flex align-items-stretch">
            <div class="card w-100 border position-relative overflow-hidden">
                <div class="form-group col-sm-12 p-1" hidden>
                    <label class="fs-2 form-label m-0">Phân loại:<font class="text-danger">*</font> </label>
                    <select class="form-control" id="LoaiDanhMuc">
                        <option value="Danh mục cơ sở làm việc">Danh mục cơ sở làm việc</option>
                    </select>
                </div>
                <div class="card-body p-2 pt-0">
                    <table id="tableDanhMucHeThong"
                           data-toggle="table"
                           data-flat="true"
                           data-search="true"
                           data-height="600"
                           data-pagination="true"
                           data-page-size="10"
                           data-page-list="[20, 25, 50, all]">
                        <thead>
                            <tr>
                                <th data-field="thuTuTg" data-sortable="true">Số thứ tự</th>
                                <th data-field="tenGoi" data-sortable="true">Tên gọi</th>
                                <th data-field="ghiChu" data-sortable="true">Ghi chú</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-0 d-flex align-items-stretch">
            <div class="card w-100 border position-relative overflow-hidden">
                <div class="card-body p-0">
                    <div class="form-group p-2">
                        <button type="button" id="btnReset" class="btn btn-success btn-sm">
                            <i class="ti ti-plus fs-2"></i> Tạo mới
                        </button>
                        <button type="button" id="btnSaveData" class="btn btn-primary btn-sm">
                            <i class="ti ti-upload fs-2"></i> Cập nhập
                        </button>
                        <button type="button" id="btnRemoveData" class="btn btn-danger btn-sm">
                            <i class="ti ti-trash fs-2"></i> Xóa
                        </button>
                    </div>
                    <div class="form-group p-3">
                        <input type="hidden" id="IdHeThong" />
                        <div class="mb-3">
                            <label class="form-label">Số thứ tự</label>
                            <input type="number" id="ThuTuTG" class="form-control" placeholder="1,2,3...">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Tên gọi</label>
                            <input type="text" id="TenGoi" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Ghi chú</label>
                            <textarea type="text" id="GhiChu" class="form-control" placeholder="Nhập ghi chú nếu có ..." rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>