@{
    ViewData["Title"] = "Home Page";
}
<style>
    .floating-box-wrapper {
        position: relative;
        height: 0;
    }

    .floating-box {
        position: absolute;
        top: -60px; /* chen vào phần giữa */
        left: 50%;
        transform: translateX(-50%);
        background: #ffffff;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        padding: 0px;
        gap: 10px;
        justify-content: center;
        z-index: 10;
        width: 752px;
        height: 138px;
    }

        .floating-box .box-item {
            flex: 1;
            text-align: center;
            padding: 10px;
        }

        .floating-box .icon {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
        }
</style>

@section Scripts {
    <script>
        var myClient = {

            init: function(){
                myClient.Event();
                myClient.LoadDetail();
            },

             Event: function () {
              
            },

            LoadDetail: function () {
              $.ajax({
                        url: '/Admin/Home/LoadDetail',
                        type: "GET",
                        dataType: "json",
                        data: {
                            CbGiaoDien: "1",
                        },
                        success: function (response) {
                            if (response.status == true) {
                                var lstData = response.lstData;

                                if (lstData != null && lstData.noiDung != null) {
                                   $("#seo_1").html(lstData.noiDung);
                                }
                            } else {
                                toastr.error(response.message, "Lỗi", { showMethod: "slideDown", hideMethod: "slideUp", timeOut: 1000 });
                            }
                        }
              })
            },
        }
        myClient.init();

    </script>

}
<div id="seo_1" style="background:#e1f3f3"></div>
@* <div class="entry-header entry-header-2 mt-0 text-center" id="LayoutHome1">
    <div class=" position-relative" style="/* background-image: url(/root/home1.png) */background:#e1f3f3 ;height:524px">
        <div class="container p-0">
            <div class="author-bio border-radius-10 p-30 mb-40">
                <div class="col-sm-7 author-info" style="align-content: center;">
                    <h3><span class="vcard author"><span class="fn"><a href="author.html" title="" rel="author" style="font-size:50px;font-family:Montserrat">Bệnh viện hiện đại Dịch vụ chuẩn quốc tế</a></span></span></h3>
                    <div class="author-description" style="color:#999999">Ứng dụng công nghệ tiên tiến, đội ngũ y bác sĩ hàng đầu, cam kết mang đến trải nghiệm chăm sóc sức khỏe toàn diện và chất lượng quốc tế </div>
                    <a href="#" class="main-menu d-none d-lg-inline btn-orrange">Xem thêm</a>
                </div>
                <div class="col-sm-5 mb-30" style="text-align:center">
                    <div style="background:#009f9c; border-radius:50%;width:453.98px;height:443.88px">
                        <a href="author.html"><img src="~/root/doctor1 1.png" alt="" class="avatar"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<div class="floating-box-wrapper" style="margin-bottom:100px">
    <div class="floating-box container row">
        <div class="box-item col-sm-4">
            <div class="col-sm-4">
                <img src="/icon-call.png" class="icon" />

            </div>
            <div class="col-sm-8">
                <h5>Gọi tổng đài</h5>
                <p>Liên hệ .</p>
            </div>
        </div>
        <div class="box-item col-sm-4">
            <img src="/icon-calendar.png" class="icon" />
            <h5>Đặt lịch khám</h5>
            <p>Đặt lịch khám .</p>
        </div>
        <div class="box-item col-sm-4">
            <img src="/icon-result.png" class="icon" />
            <h5>Tra cứu kết quả</h5>
            <p>Xem nhanh kết .</p>
        </div>
    </div>
</div>
<div class="entry-header entry-header-2 mb-0 text-center" id="LayoutHome2">
    <div class=" position-relative" style="/* background-image: url(/root/home1.png) */background:white ;height:524px">
        <div class="container p-0 mt-5">
            <div class="author-bio border-radius-10 p-30 mb-40">
                <div class="col-sm-5 mb-30" style="text-align:center">
                    <div style="width:453.98px;height:443.88px">
                        <a href="author.html"><img src="~/root/group 4.png" alt="" class="avatar"></a>
                    </div>
                </div>
                <div class="col-sm-7 author-info" style="align-content: center;">
                    <span class="no-arrow text-c-0">Sun Medical</span>
                    <h3><span class="vcard author"><span class="fn"><a href="author.html" title="" rel="author" style="font-size:35px;font-family:Montserrat">Dịch vụ đặc biệt tại Sun Medical</a></span></span></h3>
                    <div class="author-description" style="color:#999999">
                        Tại Sun Medical, chúng tôi không ngừng mở rộng và nâng tầm dịch vụ nhằm đáp ứng nhu cầu chăm sóc sức khỏe toàn diện và chuyên sâu cho từng khách hàng. Bên cạnh các dịch vụ khám chữa bệnh thông thường, Sun Medical đặc biệt chú trọng phát triển các lĩnh vực y tế cao cấp như nha khoa thẩm mỹ, da liễu thẩm mỹ và lưu trữ tế bào gốc – những dịch vụ tiên tiến kết hợp giữa công nghệ hiện đại và tiêu chuẩn quốc tế.
                        Với đội ngũ chuyên gia giàu kinh nghiệm cùng hệ thống trang thiết bị tiên tiến, các dịch vụ đặc biệt tại Sun Medical không chỉ mang lại hiệu quả điều trị vượt trội mà còn đảm bảo tính cá nhân hóa cao, phù hợp với từng thể trạng và nhu cầu riêng biệt của khách hàng. Chúng tôi tự hào là điểm đến đáng tin cậy cho những ai đang tìm kiếm giải pháp chăm sóc sức khỏe kết hợp giữa y học hiện đại và yếu tố thẩm mỹ tinh tế.
                    </div>
                    <a href="#" class="main-menu d-none d-lg-inline btn-orrange">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
