@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<!-- Main Slider Three Start -->
<section class="main-slider-three" id="home">
    <div class="main-slider-three__wrap">
        <div class="main-slider-three__carousel owl-carousel owl-theme">
            <div class="item">
                <div class="main-slider-three__img-box">
                    <div class="main-slider-three__shape-1">
						<img src="~/web/assets/images/shape.png" />
					</div>
                    <div class="main-slider-three__img">
                        <img src="https://static.spacet.vn/image-resized/768x7680_max/img/product/2024-03-01/ngua-vang-trang-tri-kim-loai-11102-1-65e1892924095c38dc4be21a.webp"
                             alt="" />
                    </div>
                </div>
                <div class="container">
                    <div class="main-slider-three__content">
                        <h2 class="main-slider-three__title">
                            <h6> Chào mừng bạn đến với Lạc Việt Auction</h6>
                            <h4>
                                Nền tảng đấu giá trực tuyến hàng đầu Việt Nam
                            </h4>
                        </h2>
                        <p class="main-slider-three__text">
                            Tự hào là một trong những nhà đấu giá lớn nhất tại Việt<br /> Nam, Lạc Việt luôn là đơn vị tiên phong ứng 
                            dụng công <br />nghệ thông tin vào hoạt động đấu giá. Ngày 17/07/2020<br />,
                            Lạc Việt vinh dự tổ chức thành công Cuộc đấu giá trực<br /> tuyến chính thống đầu tiên tại Việt Nam,
                            mở ra 1 chương<br /> mới cho hoạt động đấu giá nước nhà.
                        </p>
                        <div class="main-slider-three__btn">
                            <a href="contact.html" class="thm-btn">
                                Liên hệ ngay<span class="icon-arrow-up-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="main-slider-three__shape-2"></div>
    </div>
</section>
<!--Main Slider Three End -->
<!--Blog Three Start-->
<section class="blog-three pb-0 pt-5" id="blog">
    <div class="container">
        <div class="section-title-two text-center sec-title-animation animation-style1">
            <div class="section-title-two__tagline-box justify-content-center">
                <div class="section-title-two__tagline-shape-1"></div>
                <span class="section-title-two__tagline">Our Blog</span>
                <div class="section-title-two__tagline-shape-1"></div>
            </div>
            <h2 class="section-title-two__title title-animation">
                Tài sản đang đấu giá
            </h2>
        </div>
        <div class="row">
            <!--Blog Three Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInLeft"
                 data-wow-delay="100ms">
                <div class="blog-three__single">
                    <div class="blog-three__img-box">
                        <div class="blog-three__img">
                            <img src="https://data.lvo.vn/media/upload/1003262/lamson.jpg" alt="" />
                        </div>
                        <div class="blog-three__date">
                            <span>Thời gian đấu giá 08/04/2025 13:00:00</span>
                        </div>
                    </div>
                    <div class="blog-three__content">
                        <h3 class="blog-three__title">
                            <a href="blog-details.html">
                                Phần vốn góp của Tập đoàn Xăng dầu Việt Nam tại Công ty TNHH MTV Petrolimex Lào
                            </a>
                        </h3>
                        <a href="blog-details.html" class="blog-three__read-more">
                            Chi tiết<span class="icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Blog Three Single End-->
            <!--Blog Three Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="blog-three__single">
                    <div class="blog-three__img-box">
                        <div class="blog-three__img">
                            <img src="https://data.lvo.vn/media/upload/1003262/lamson.jpg" alt="" />
                        </div>
                        <div class="blog-three__date">
                            <span>Thời gian đấu giá 08/04/2025 13:00:00</span>
                        </div>
                    </div>
                    <div class="blog-three__content">
                        <h3 class="blog-three__title">
                            <a href="blog-details.html">
                                Lô Cáp đồng viễn thông đã qua sử dụng, thu hồi thuộc VNPT.TP Hồ Chí Minh - Bán thanh lý Đợt 2+3/2024
                            </a>
                        </h3>
                        <a href="blog-details.html" class="blog-three__read-more">
                            Chi tiết<span class="icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Blog Three Single End-->
            <!--Blog Three Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInRight"
                 data-wow-delay="300ms">
                <div class="blog-three__single">
                    <div class="blog-three__img-box">
                        <div class="blog-three__img">
                            <img src="https://data.lvo.vn/media/upload/1003262/lamson.jpg" alt="" />
                        </div>
                        <div class="blog-three__date">
                            <span>Thời gian đấu giá 08/04/2025 13:00:00</span>
                        </div>
                    </div>
                    <div class="blog-three__content">
                        <h3 class="blog-three__title">
                            <a href="blog-details.html">
                                TB0303 Quyền sử dụng đất và tài sản gắn liền với đất tại địa chỉ: Xã Long Mỹ,...
                            </a>
                        </h3>
                        <a href="blog-details.html" class="blog-three__read-more">
                            Chi tiết<span class="icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Blog Three Single End-->
        </div>
    </div>
</section>
<!--Blog Three End-->
<!--Brand Two Start -->
<section class="brand-two brand-three pb-5 mb-5 pt-5">
    <div class="container">
        <div class="section-title-two text-center sec-title-animation animation-style1">
            <div class="section-title-two__tagline-box justify-content-center">
                <div class="section-title-two__tagline-shape-1"></div>
                <span class="section-title-two__tagline">Our Blog</span>
                <div class="section-title-two__tagline-shape-1"></div>
            </div>
            <h2 class="section-title-two__title title-animation">
                Khách hàng và đối tác tiêu biểu
            </h2>
        </div>
        <div class="brand-two__inner">
            <div class="brand-two__carousel owl-theme owl-carousel">
                <!--Brand Two Single Start-->
                <div class="item">
                    <div class="brand-two__single">
                        <div class="brand-two__img">
                            <img class="img-fluid img-responsive" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" width="165" height="40" alt="" />
                        </div>
                    </div>
                </div>
                <!--Brand Two Single End-->
                <!--Brand Two Single Start-->
                <div class="item">
                    <div class="brand-two__single">
                        <div class="brand-two__img">
                            <img class="img-fluid img-responsive" src="https://lacvietauction.vn/LVT/assets/images/bg/client-4.png" width="165" height="40" alt="" />
                        </div>
                    </div>
                </div>
                <!--Brand Two Single End-->
                <!--Brand Two Single Start-->
                <div class="item">
                    <div class="brand-two__single">
                        <div class="brand-two__img">
                            <img class="img-fluid img-responsive" src="https://lacvietauction.vn/LVT/assets/images/bg/client-5.png" width="165" height="40" width="165" alt="" />
                        </div>
                    </div>
                </div>
                <!--Brand Two Single End-->
                <!--Brand Two Single Start-->
                <div class="item">
                    <div class="brand-two__single">
                        <div class="brand-two__img">
                            <img class="img-fluid img-responsive" src="https://lacvietauction.vn/LVT/assets/images/bg/client-9.png" width="165" height="40" alt="" />
                        </div>
                    </div>
                </div>
                <!--Brand Two Single End-->
                <!--Brand Two Single Start-->
                <div class="item">
                    <div class="brand-two__single">
                        <div class="brand-two__img">
                            <img class="img-fluid img-responsive" src="https://lacvietauction.vn/LVT/assets/images/bg/client-10.png" width="165" height="40" alt="" />
                        </div>
                    </div>
                </div>
                <!--Brand Two Single End-->
            </div>
        </div>
    </div>
</section>
<!--Brand Two End -->
<!--Testimonial Three Start -->
<section class="testimonial-three">
    <div class="testimonial-three__inner">
        <div class="container">
            <div class="section-title-two text-left sec-title-animation animation-style2">
                <div class="section-title-two__tagline-box">
                    <span class="section-title-two__tagline">TESTIMONIAL</span>
                    <div class="section-title-two__tagline-shape-1"></div>
                </div>
                <h2 class="section-title-two__title title-animation">
                    Tin tức & thông báo mới nhất
                </h2>
            </div>
            <div class="testimonial-three__carousel owl-theme owl-carousel">
                <!--Testimonial Three Single Start -->
                <div class="item">
                    <div class="testimonial-three__single">
                        <div class="testimonial-three__quote-and-ratting">
                            <div class="testimonial-three__quote">
                                <span class="fal fa-quote-right"></span>
                            </div>
                            <div class="testimonial-three__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="last-icon icon-star"></span>
                            </div>
                        </div>
                        <p class="testimonial-three__text">
                            TBĐG_LV - Lô 01 xe ô tô 12 chỗ, nhãn hiệu: Toyota Hiace, BKS: 31A-5864, màu: Ghi hồng; RZH1153000483, 
                            số máy: 2RZ2977727, giấy chứng nhận đăng ký xe số A0100453 do CSGT-CA.
                            TP. Hà Nội cấp ngày 20/02/2003 mang tên Viện Năng lượng
                        </p>
                        <div class="testimonial-three__client-box">
                            <div class="testimonial-three__client-img">
                                <img src="https://data.lvo.vn/media/upload/1001406/IMAGE/N%C4%83m%202025/Vi%E1%BB%87n%20N%C4%83ng%20l%C6%B0%E1%BB%A3ng/1.jpg"
                                     alt="" />
                            </div>
                            <div class="testimonial-three__client-content">
                                <h6><a href="testimonials.html">TG: Trần Minh Quân</a></h6>
                                <p>05/03/2025</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Testimonial Three Single End -->
                <!--Testimonial Three Single Start -->
                <div class="item">
                    <div class="testimonial-three__single">
                        <div class="testimonial-three__quote-and-ratting">
                            <div class="testimonial-three__quote">
                                <span class="fal fa-quote-right"></span>
                            </div>
                            <div class="testimonial-three__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="last-icon icon-star"></span>
                            </div>
                        </div>
                        <p class="testimonial-three__text">
                            TBĐG_LV - Lô 01 xe ô tô 12 chỗ, nhãn hiệu: Toyota Hiace, BKS: 31A-5864, màu: Ghi hồng; RZH1153000483,
                            số máy: 2RZ2977727, giấy chứng nhận đăng ký xe số A0100453 do CSGT-CA.
                            TP. Hà Nội cấp ngày 20/02/2003 mang tên Viện Năng lượng
                        </p>
                        <div class="testimonial-three__client-box">
                            <div class="testimonial-three__client-img">
                                <img src="https://data.lvo.vn/media/upload/1001406/IMAGE/N%C4%83m%202025/Vi%E1%BB%87n%20N%C4%83ng%20l%C6%B0%E1%BB%A3ng/1.jpg"
                                     alt="" />
                            </div>
                            <div class="testimonial-three__client-content">
                                <h6><a href="testimonials.html">TG: Trần Minh Quân</a></h6>
                                <p>05/03/2025</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Testimonial Three Single End -->
                <!--Testimonial Three Single Start -->
                <div class="item">
                    <div class="testimonial-three__single">
                        <div class="testimonial-three__quote-and-ratting">
                            <div class="testimonial-three__quote">
                                <span class="fal fa-quote-right"></span>
                            </div>
                            <div class="testimonial-three__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="last-icon icon-star"></span>
                            </div>
                        </div>
                        <p class="testimonial-three__text">
                            TBĐG_LV - Lô 01 xe ô tô 12 chỗ, nhãn hiệu: Toyota Hiace, BKS: 31A-5864, màu: Ghi hồng; RZH1153000483,
                            số máy: 2RZ2977727, giấy chứng nhận đăng ký xe số A0100453 do CSGT-CA.
                            TP. Hà Nội cấp ngày 20/02/2003 mang tên Viện Năng lượng
                        </p>
                        <div class="testimonial-three__client-box">
                            <div class="testimonial-three__client-img">
                                <img src="https://data.lvo.vn/media/upload/1001406/IMAGE/N%C4%83m%202025/Vi%E1%BB%87n%20N%C4%83ng%20l%C6%B0%E1%BB%A3ng/1.jpg"
                                     alt="" />
                            </div>
                            <div class="testimonial-three__client-content">
                                <h6><a href="testimonials.html">TG: Trần Minh Quân</a></h6>
                                <p>05/03/2025</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Testimonial Three Single End -->
                <!--Testimonial Three Single Start -->
                <div class="item">
                    <div class="testimonial-three__single">
                        <div class="testimonial-three__quote-and-ratting">
                            <div class="testimonial-three__quote">
                                <span class="fal fa-quote-right"></span>
                            </div>
                            <div class="testimonial-three__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="last-icon icon-star"></span>
                            </div>
                        </div>
                        <p class="testimonial-three__text">
                            TBĐG_LV - Lô 01 xe ô tô 12 chỗ, nhãn hiệu: Toyota Hiace, BKS: 31A-5864, màu: Ghi hồng; RZH1153000483,
                            số máy: 2RZ2977727, giấy chứng nhận đăng ký xe số A0100453 do CSGT-CA.
                            TP. Hà Nội cấp ngày 20/02/2003 mang tên Viện Năng lượng
                        </p>
                        <div class="testimonial-three__client-box">
                            <div class="testimonial-three__client-img">
                                <img src="https://data.lvo.vn/media/upload/1001406/IMAGE/N%C4%83m%202025/Vi%E1%BB%87n%20N%C4%83ng%20l%C6%B0%E1%BB%A3ng/1.jpg"
                                     alt="" />
                            </div>
                            <div class="testimonial-three__client-content">
                                <h6><a href="testimonials.html">TG: Trần Minh Quân</a></h6>
                                <p>05/03/2025</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Testimonial Three Single End -->
            </div>
        </div>
    </div>
</section>
<!--Testimonial Three End -->
