
@{
    ViewData["Title"] = "ChiTietSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header">
    <div class="page-header__wrap">
        <div class="page-header__shape-1" style="
              background-image: url(~/web/assets/images/shapes/page-header-shape-1.png);
            "></div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__shape-2"></div>
                <div class="page-header__shape-3"></div>
                <div class="page-header__shape-4"></div>
                <div class="page-header__img-1">
                    <img src="" alt="">
                    <div class="page-header__shape-5">
                        <img src="~/web/assets/images/shapes/page-header-shape-5.png" alt="">
                    </div>
                </div>
                <h2>Phần vốn góp của Tập đoàn Xăng dầu Việt Nam tại Công ty TNHH MTV Petrolimex Lào</h2>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><span class="icon-angle-right"></span></li>
                        <li>Tài sản đấu giá</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="product-details__img">
                    <img src="https://data.lvo.vn/media/upload/1001406/IMAGE/N%C4%83m%202025/Ng%C3%A2n%20h%C3%A0ng%20NNVN/13-%2031A-6685_3.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-xl-6">
                <div class="product-details__top">
                    <h3 class="product-details__title">
                        Custom T-shirts <span>$46.00</span>
                    </h3>
                </div>
                <div class="product-details__reveiw">
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <i class="icon-star"></i>
                    <span>2 customer reviews</span>
                </div>
                <div class="product-details__content">
                    <p class="product-details__content-text1">
                        Aliquam hendrerit a augue insuscipit. Etiam aliquam massa quis
                        des mauris commodo venenatis ligula commodo leez sed blandit
                        convallis dignissim onec vel pellentesque neque. It has
                        survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged.
                    </p>
                    <p class="product-details__content-text2">
                        REF. 4231/406 <br>
                        Available in store
                    </p>
                </div>

                <div class="product-details__quantity">
                    <h3 class="product-details__quantity-title">Quantity</h3>
                    <div class="quantity-box">
                        <button type="button" class="sub">
                            <i class="fa fa-minus"></i>
                        </button>
                        <input type="number" id="1" value="1">
                        <button type="button" class="add">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>

                <div class="product-details__buttons">
                    <div class="product-details__buttons-1">
                        <a class="thm-btn" href="#">Add to Wishlist</a>
                    </div>

                    <div class="product-details__buttons-2">
                        <a class="thm-btn" href="cart.html">Add to Cart</a>
                    </div>
                </div>

                <div class="product-details__social">
                    <div class="title">
                        <h3>Share with friends:</h3>
                    </div>
                    <div class="product-details__social-link">
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-facebook"></span></a>
                        <a href="#"><span class="fab fa-pinterest-p"></span></a>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  