<header class="topbar" style="border-bottom: 1px solid #d2c5c5;">
    <div class="with-vertical">
        <nav class="navbar navbar-expand-lg p-0">
            <ul class="navbar-nav">
                <li class="nav-item nav-icon-hover-bg rounded-circle ms-n2">
                    <a class="nav-link sidebartoggler" id="headerCollapse" href="javascript:void(0)">
                        <i class="ti ti-menu-2"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon-hover-bg rounded-circle d-none d-lg-flex">
                    <a class="nav-link" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="ti ti-search"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav quick-links d-none d-lg-flex align-items-center">
                <li class="nav-item dropdown-hover d-none d-lg-block">
                    <a class="nav-link fw-bold" style="color: #e06902;font-weight: 600 !important;" href="/Admin/SeoInfomation/SeoInfomation">SUNMEDICAL CENTER</a>
                </li>
              
            </ul>
            <a class="navbar-toggler nav-icon-hover-bg rounded-circle p-0 mx-0 border-0" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="ti ti-dots fs-7"></i>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="d-flex align-items-center justify-content-between">
                    <li class="nav-item dropdown-hover d-none d-lg-block">
                        <a class="nav-link fw-bold" style="color: #133499;font-weight: 600 !important;" href="">
                            @ViewData["Title"]
                        </a>
                    </li>
                    <a href="javascript:void(0)" class="nav-link nav-icon-hover-bg rounded-circle mx-0 ms-n1 d-flex d-lg-none align-items-center justify-content-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobilenavbar" aria-controls="offcanvasWithBothOptions">
                        <i class="ti ti-align-justified fs-7"></i>
                    </a>
                    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center">
                        <li class="nav-item nav-icon-hover-bg rounded-circle">
                            <a class="nav-link moon dark-layout" href="javascript:void(0)">
                                <i class="ti ti-moon moon"></i>
                            </a>
                            <a class="nav-link sun light-layout" href="javascript:void(0)">
                                <i class="ti ti-sun sun"></i>
                            </a>
                        </li>
                        <li class="nav-item nav-icon-hover-bg rounded-circle dropdown">
                            <a class="nav-link position-relative" href="javascript:void(0)" id="drop2" aria-expanded="false">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                            <div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                <div class="d-flex align-items-center justify-content-between py-3 px-7">
                                    <h5 class="mb-0 fs-5 fw-semibold"></h5>
                                    <span class="badge text-bg-primary rounded-4 px-3 py-1 lh-sm">Thông báo</span>
                                </div>
                                <div class="message-body" id="message_noti" data-simplebar style="height:600px;overflow: auto;">
                                  
                                </div>
                                <div class="py-6 px-7 mb-1">
                                    <button class="btn btn-outline-primary w-100">Xem tất cả</button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" onclick="ServiceLogout()">
                                <i class="ti ti-logout pe-2"></i> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mobilenavbar" aria-labelledby="offcanvasWithBothOptionsLabel">
            <nav class="sidebar-nav scroll-sidebar">
                <div class="offcanvas-header justify-content-between">
                    <img src="~/web/images/Group.png" alt="modernize-img" class="img-fluid" />
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
            </nav>
        </div>
    </div>
</header>
<script id="news-template" type="text/x-dot-template">
    {{ for(var i = 0; i < it.newsList.length; i++) { }}
        <a href="javascript:void(0)" class="py-2 px-2  d-flex align-items-center dropdown-item">
                     <span class="me-3">
                <img src="/root/apple_messages-512.png" alt="user" class="rounded-circle" width="30" height="30">
            </span>
            <div class="w-100">
                <h6 class="mb-1 fw-semibold lh-base">{{=it.newsList[i].hoTenNguoiGui}}</h6>
                <div class="fs-2 d-table" style="white-space: normal;">
                    {{=it.newsList[i].noiDung}}
                </div>
            </div>
       </a>
    {{ } }}
</script>