@{
    ViewData["Title"] = "Dịch vụ chuyên khoa";
    Layout = "~/Areas/Admin/Views/Shared/_ViewAdmin.cshtml";
}
<link rel="stylesheet" href="~/assets/libs/magnific-popup/dist/magnific-popup.css">
@section Scripts {
    <script src="~/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/plugins/meg.init.js"></script>
    <script src="~/assets/plug/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/ajax/webappservice.tinymcesetting.js?v=1.2"></script>
    <script> tinymceSettings(['#editor'], 700); </script>
    <script src="~/ajax/webappservice.dichvu.js"></script>
}
<div class="card-body">
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 border position-relative overflow-hidden">
                <div class="card-header p-1">
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-sm" id="btnNewForm" data-bs-toggle="modal"
                                data-bs-target="#bsBaiViet">
                            <i class="ti ti-plus fs-2"></i> Viết bài
                        </button>
                    </div>
                </div>
                <div class="card-body p-2">
                    <table id="tableDichVu"
                           data-toggle="table"
                           data-flat="true"
                           data-search="true"
                           data-height="600"
                           data-toolbar="#btnNewForm"
                           data-pagination="true"
                           data-page-size="10"
                           data-page-list="[20, 25, 50, all]">
                        <thead>
                            <tr>
                                <th data-formatter="fm_editData" data-sortable="true" data-width="5"  class="text-center">Chức năng</th>
                                <th data-field="urlImage" data-width="8" data-formatter="fm_Image" data-sortable="true">Ảnh</th>
                                <th data-field="tieuDeBaiViet" data-sortable="true">Tên tiêu đề</th>
                                <th data-field="moTaNgan" data-sortable="true" data-formatter="fm_MoTaNgan">Mô tả ngắn</th>
                                <th data-field="seoUrl" data-sortable="true">Seo Url</th>
                                <th data-field="cbLoaiBaiDang" data-sortable="true" data-width="8">Phân loại dịch vụ</th>
                                <th data-field="cbNhomBaiViet" data-sortable="true">Nhóm dịch vụ</th>
                                <th data-field="isCongKhai" data-width="8" data-formatter="fm_editBVCK" data-sortable="true">Công khai</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bsBaiViet" tabindex="-1" aria-labelledby="bs-example-modal-lg" aria-hidden="true">
    <div class="modal-dialog modal-xl w-100">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <h4 class="modal-title" id="myLargeModalLabel">
                    Viết bài
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 d-flex align-items-stretch p-0">
                        <div class="card w-100 border position-relative m-0 overflow-hidden">
                            <div class="card-body p-3">
                                <div class="form-group">
                                    <div class="row">
                                        <input type="hidden" id="IdDichVu" name="name" value="" />
                                        <div class="col-sm-3 d-flex align-items-stretch" style="height: max-content;">
                                            <div class="card w-100 border position-relative overflow-hidden">
                                                <div class="card-body p-2">
                                                    <div class="text-center">
                                                        <img src="~/root/unnamed.png" id="imageHoSo" alt="ảnh đại diện" class="" width="100%" height="230px">
                                                        <input type="file" id="duong_dan_file" name="name" value="" hidden />
                                                        <input type="text" id="isThayDoi" hidden />
                                                        <div class="d-flex align-items-center justify-content-center my-1 gap-1">
                                                            <button class="btn bg-danger text-white" id="btnRemoveUpload"><i class="ti ti-trash"></i></button>
                                                            <button class="btn btn-primary w-100" id="btnUpload"><i class="ti ti-upload"></i> Upload</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 row">
                                            <div class="col-sm-12 mb-2">
                                                <label class="fs-2 form-label m-0">Tên tiêu đề:<font class="text-danger">*</font> </label>
                                                <input type="text" class="form-control" placeholder="Nhập tiêu đề ..." id="TieuDeBaiViet" value="">
                                            </div>
                                            <div class="col-sm-12 mb-2">
                                                <label class="form-label">Nhóm dịch vụ chuyên khoa:<font class="text-danger">*</font></label>
                                                <select data-placeholder="Choose a Country..." class="form-control chosen-select" id="CbNhomBaiViet1" tabindex="2">
                                                    <option value="">--Chọn nếu là nhóm bài viết--</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6 mb-2" hidden>
                                                <label class="form-label">Nhóm dịch vụ đặc biệt:<font class="text-danger">*</font></label>
                                                <select data-placeholder="Choose a Country..." class="form-control chosen-select" id="CbNhomBaiViet2" tabindex="2">
                                                    <option value="">--Chọn nếu là nhóm bài viết--</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12 mb-2">
                                                <label class="fs-2 form-label m-0">Đường dẫn mẫu (vi):<font class="text-danger">*</font></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="sun-medical" id="SeoUrl" value="">
                                                    <button class="btn btn-danger" id="btnAutoCode" type="button">
                                                        <div class="d-flex align-items-center">
                                                            <i class="ti ti-link me-1 fs-4"></i>
                                                            Lấy tự động
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-2" hidden>
                                                <label class="form-label">Loại danh mục:</label>
                                                <input type="type" name="name" value="" id="CbLoaiBaiDang" />
                                            </div>
                                            <div class="col-sm-12 mb-2" hidden>
                                                <label class="form-label">Tiêu đề loại danh mục(nếu có):</label>
                                                <input type="text" class="form-control" placeholder="" id="TieuDeNgan" value="">
                                            </div>
                                            <div class="col-sm-12 mb-2">
                                                <label class="fs-2 form-label m-0">Mô tả:</label>
                                                <textarea type="text" class="form-control" placeholder="Mô tả ..." rows="3" id="MoTaNgan" value=""></textarea>
                                            </div>
                                            <div class="mb-2 row">
                                                <div class=" col-sm-3" hidden>
                                                    <input class="form-check-input" type="checkbox" value="" id="IsBaiVietNoiBat">
                                                    <label class="form-check-label" for="IsBaiVietNoiBat">
                                                        Bài viết nổi bật
                                                    </label>
                                                </div>
                                                <div class=" col-sm-3">
                                                    <input class="form-check-input" type="checkbox" value="" id="IsCongKhai">
                                                    <label class="form-check-label" for="IsCongKhai">
                                                        Bài viết công khai
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <textarea id="editor"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect text-start" id="btnSaveData">
                    Lưu và kết thúc
                </button>
                <button type="button" class="btn bg-danger-subtle text-danger  waves-effect text-start" data-bs-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>
