.txt-mobile {
    font-family: Montserrat;
}
.langue-mobile {
    display: flex;
    font-size: 13px !important;
    font-size: medium;
    font-family: Montserrat;
    font-weight: 600;
    color: white;
    margin-left: 9px;
    height: 46px;
}
.icon-langue {
    width: 40px;
    height: 26px;
}
.icon-langue2 {
    width: 40px;
    height: 27px;
}
.icon-langue3 {
    width: 50px;
    height: 25px;
}
.logo-mobile {
    float: inline-start;
    z-index: 500;
    position: relative;
}
.main-header .main-nav ul li a {
    position: relative;
    color: #171616;
    font-weight: 700;
    padding: 0;
    display: block;
    font-size: 0.9vw;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    line-height: 60px;
}

@media screen and (max-width: 768px) {
    .bg-mobile {
        background: #009f9c
    }
    .btn-login {
        font-size: 13px !important;
        font-weight: 600;
    }
    .sub-menu-lst {
        font-weight: 400 !important;
        font-size: 14px;
        font-family: 'Inter';
    }
    .slicknav_arrow {
        font-size: 0 !important;
        position: relative;
    }

    /* Hiển thị icon Font Awesome (chevron-down) */
    .slicknav_arrow::before {
        content: "\f078"; /* fa-chevron-down */
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 11px;
        display: inline-block;
        transition: transform 0.3s ease;
    }

    /* Khi menu con mở, đổi icon thành fa-chevron-up */
    .slicknav_open > a > .slicknav_arrow::before {
        content: "\f077"; /* fa-chevron-up */
    }


}


@media (max-width: 1192px) {
    .btn-login {
        font-size: 13px;
        font-weight: 600;
    }

  
    .main-header .main-nav ul li a {
        position: relative;
        color: #171616;
        font-weight: 700;
        padding: 0;
        display: block;
        font-size: 11px;
        -webkit-transition: all .2s ease-out 0s;
        -moz-transition: all .2s ease-out 0s;
        -ms-transition: all .2s ease-out 0s;
        -o-transition: all .2s ease-out 0s;
        transition: all .2s ease-out 0s;
        font-family: 'Nunito', sans-serif;
        line-height: 1.5;
        line-height: 60px;
    }
}
@media (min-width: 992px) {
    #navigation {
        display: none !important;
    }
}
@media (min-width: 1920px) {
    .main-header .main-nav ul li a {
        position: relative;
        color: #171616;
        font-weight: 700;
        padding: 0;
        display: block;
        font-size: 13px;
        -webkit-transition: all .2s ease-out 0s;
        -moz-transition: all .2s ease-out 0s;
        -ms-transition: all .2s ease-out 0s;
        -o-transition: all .2s ease-out 0s;
        transition: all .2s ease-out 0s;
        font-family: 'Nunito', sans-serif;
        line-height: 1.5;
        line-height: 60px;
    }
}