
@{
    ViewData["Title"] = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .about-five__shope-box {
        position: absolute;
        left: -90px;
        bottom: -103px;
        max-width: 385px;
        width: 100%;
        border-radius: 20px;
        background-color: #17171775;
        text-align: center;
        padding: 30px 30px 50px;
        overflow: hidden;
        z-index: 1;
    }
</style>
<section class="page-header">
    <div class="page-header__wrap">
        <div class="page-header__shape-1" style="
              background-image: url(~/web/assets/images/shapes/page-header-shape-1.png);
            "></div>
        <div class="container">
            <div class="page-header__inner">
                <div class="page-header__shape-2"></div>
                <div class="page-header__shape-3"></div>
                <div class="page-header__shape-4"></div>
                <div class="page-header__img-1">
                    <img src="" alt="">
                    <div class="page-header__shape-5">
                        <img src="~/web/assets/images/shapes/page-header-shape-5.png" alt="">
                    </div>
                </div>
                <h2>Về chúng tôi</h2>
                <div class="thm-breadcrumb__box">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><span class="icon-angle-right"></span></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--About Five Start -->
<section class="about-five">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-five__left">
                    <div class="section-title text-left sec-title-animation animation-style2">
                        <div class="section-title__tagline-box">
                            <span class="section-title__tagline">Về chúng tôi</span>
                        </div>
                        <h2 class="section-title__title title-animation">
                            Lời giới thiệu
                        </h2>
                    </div>
                    <p class="about-five__text-1">
                        Công ty Đấu giá Hợp danh Lạc Việt xin được gửi lời chào trân trọng nhất tới Quý Khách hàng.

                        Trong xu thế phát triển tất yếu của nghề “Bán đấu giá”, Công ty Đấu giá Hợp danh Lạc Việt đã được hình thành.
                        Với một Hội đồng cố vấn gồm các chuyên viên đấu giá, luật sư nhiều năm kinh nghiệm và được điều hành bởi các đấu giá viên chuyên nghiệp của Bộ Tư pháp,
                        chúng tôi là một trong 18 đơn vị bán đấu giá chuyên nghiệp trên địa bàn thành phố Hà Nội được Sở Tư pháp Thành phố Hà Nội tổng hợp trong báo cáo số 35/BC-STP
                        , ngày 15 tháng 8 năm 2011. Là đơn vị đấu giá duy nhất được Chủ tịch Ủy ban nhân dân Thành phố Hà Nội tặng bằng khen vì “đã có thành tích trong hoạt động bổ trợ Tư pháp năm 2014” ngày 19/03/2015.
                        Công ty chúng tôi hiện có Chi nhánh tại các thành phố lớn trên toàn quốc như: Thành phố Hồ Chí Minh, Thành phố Đà Nẵng, cũng như các Văn phòng đại diện trên toàn địa bàn thành phố Hà Nội.

                        Công ty Đấu giá Hợp danh Lạc Việt là một thành viên trong Lạc Việt Group với hệ thống Văn phòng Công chứng và Công ty Luật có chuyên môn nghiệp vụ cao, đây là sự hỗ trợ đắc lực 
                        cho hoạt động bán đấu giá tài sản của Công ty chúng tôi. Do đó, Công ty Đấu giá Hợp danh Lạc Việt luôn tin tưởng và đảm bảo sẽ đem đến cho Quý Khách hàng chất lượng dịch vụ tốt nhất và hiệu quả nhất.

                        Chúng tôi được biết Quý Khách hàng đang có nhu cầu về tư vấn và tổ chức bán đấu giá tài sản, vì vậy Công ty chúng tôi xin gửi Hồ sơ đề xuất giới thiệu về năng lực của Công ty 
                        với mong muốn được chọn là tổ chức bán đấu giá tài sản cho Quý Khách hàng.

                        Với phương châm hoạt động: “Đem lại hiệu quả kinh tế vượt trội”, chúng tôi hy vọng sẽ làm hài lòng Quý Khách và mong muốn được đồng hành cùng Quý Khách hàng trong suốt quá trình 
                        hoạt động và phát triển.
                    </p>
                    <ul class="list-unstyled about-five__points">
                        <li>
                            <div class="icon">
                                <span class="icon-double-arrow-right"></span>
                            </div>
                            <div class="text">
                                <p>
                                    50+ : Nhà đấu giá đối tác của Lạc Việt
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-double-arrow-right"></span>
                            </div>
                            <div class="text">
                                <p>
                                    2.076 tỷ+ :  Giá trị tài sản đã bán
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-double-arrow-right"></span>
                            </div>
                            <div class="text">
                                <p>344+ : Tài sản đã đấu giá thành công</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-double-arrow-right"></span>
                            </div>
                            <div class="text">
                                <p>290+ : Cuộc đấu giá đã diễn ra</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-five__right">
                    <div class="about-five__img-box">
                        <div class="about-five__img">
                            <img src="https://diamondsoft.vn/web/images/about-img/about-img1.jpg"
                                 alt="" />
                        </div>
                        <div class="about-five__shope-box">
                            <div class="about-five__shope-box-bg-shape"
                                 style="
                        background-image: url(~/web/assets/images/shapes/about-five-shope-box-bg-shape.png);
                      "></div>
                            <h3 class="about-five__shope-title">Trần Minh Quân </h3>
                            <p class="about-five__shope-text">
                                “Chúng tôi muốn đi trước, đón đầu để đến khi thế giới nhìn vào, họ cũng thấy, ở Việt Nam có những nhà bán đấu giá có uy tín,
                                họ cũng sẽ gửi tài sản về đây nhờ mình bán, hoặc mời mình ra nước ngoài hợp tác. Con đường còn rất dài, chúng tôi mới chỉ như một đứa bé đang chập chững tập đi.

                                Chỉ mong Lạc Việt sẽ là con tàu dẫn đầu, sau này càng nhiều tàu đi càng đông vui, cùng đến đích, tàu đi trước cản sóng cho tàu đi sau, vượt sóng lớn an toàn”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Five End -->

