@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_ViewAdmin.cshtml";
}
@section Scripts {
    <script src="~/assets/plug/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/ajax/webappservice.tinymcesetting2.js?v=1.2"></script>
    <script> tinymceSettings(['#editor1'], 700); </script>
    <script>

    </script>
}
<div class="card-header mt-2">
    <h4 class="card-title">Trang chủ</h4>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header p-2 text-bg-info d-flex align-items-center">
            <h4 class="card-title text-white mb-0 fs-3">Giao diện khung 2</h4>
        </div>
        <div class="card-body p-0 collapse show">
            <div class="card-body p-0">
                <textarea id="editor1"></textarea>
            </div>
            <div class="text-end p-1" style="border-top:1px solid blue">
                <button type="button" class="btn btn-primary waves-effect text-start z-100" id="btnSaveData">
                    Lưu và kết thúc
                </button>
            </div>
        </div>
    </div>
</div>
