<div class="container p-0">
    <div class="row">
        <div class="col-lg-3 col-md-3" id="menuMDesk">
            <div class="header-logo d-none d-lg-block">
                <a href="/Home/Index">
                    <img class="logo-img d-inline p-2" src="~/web/images/Group.png" width="255px" alt="">
                </a>
            </div>
            <div class="logo-mobile d-block d-md-none">
                <a href="/Home/Index">
                    @* <img src="~/root/mb.png" /> *@
                    <img class="logo-img d-inline"
                         id="logoImage"
                         src="@Url.Content("~/web/images/Group.png")"
                         data-alt-src="@Url.Content("~/src/image_figma/asset 1 2.png")"
                         width="200"
                         alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 main-header-navigation">
            <!-- Main-menu -->
            <div class="main-nav text-left float-lg-left float-md-right">
                <ul class="mobi-menu d-none" id="navigation">
                    <li class="cat-item txt-mobile col-12 p-0"><a href="/AboutUs/AboutUs">Về SunMedical</a></li>
                    <li class="cat-item txt-mobile col-12 p-0">
                        <a href="/Service/ServiceList">
                            Chuyên Khoa
                        </a>
                        <ul class="sub-menu font-small m-0">
                        </ul>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0">
                        <a href="/Service/ServiceList">
                            Dịch Vụ Đặc Biệt
                        </a>
                        <ul class="sub-menu font-small m-0" id="menuDichVuDacBietMobile">
                        </ul>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0"><a href="/Doctor/ListDoctor">Bác Sĩ</a></li>
                    <li class="cat-item txt-mobile col-12 p-0">
                        <a href="/Blog/Blog">
                            Tin Tức
                        </a>
                        <ul class="sub-menu font-small m-0" id="menuBaiVietMobile">
                        </ul>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0"><a href="/LienHe/LienHe">Liên Hệ</a></li>
                    <li class="cat-item txt-mobile col-12 p-0"><a href="/FAQ/Index">FAQ</a></li>
                    <li class="m-0" style="display:flex">
                        <svg width="100" height="41" viewBox="0 0 152 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="152" height="41" rx="5" fill="#F26522" />
                            <path d="M11.664 26V14.8H16.56C17.776 14.8 18.8427 15.0347 19.76 15.504C20.6773 15.9733 21.392 16.624 21.904 17.456C22.416 18.288 22.672 19.2693 22.672 20.4C22.672 21.52 22.416 22.5013 21.904 23.344C21.392 24.176 20.6773 24.8267 19.76 25.296C18.8427 25.7653 17.776 26 16.56 26H11.664ZM13.744 24.24H16.464C17.3067 24.24 18.032 24.08 18.64 23.76C19.2587 23.44 19.7333 22.992 20.064 22.416C20.4053 21.84 20.576 21.168 20.576 20.4C20.576 19.6213 20.4053 18.9493 20.064 18.384C19.7333 17.808 19.2587 17.36 18.64 17.04C18.032 16.72 17.3067 16.56 16.464 16.56H13.744V24.24ZM10.096 21.072V19.536H16.752V21.072H10.096ZM30.751 26V24.272L30.639 23.904V20.88C30.639 20.2933 30.463 19.84 30.111 19.52C29.759 19.1893 29.2257 19.024 28.511 19.024C28.031 19.024 27.5563 19.0987 27.087 19.248C26.6283 19.3973 26.239 19.6053 25.919 19.872L25.135 18.416C25.5937 18.064 26.1377 17.8027 26.767 17.632C27.407 17.4507 28.0683 17.36 28.751 17.36C29.9883 17.36 30.943 17.6587 31.615 18.256C32.2977 18.8427 32.639 19.7547 32.639 20.992V26H30.751ZM28.063 26.112C27.423 26.112 26.863 26.0053 26.383 25.792C25.903 25.568 25.5297 25.264 25.263 24.88C25.007 24.4853 24.879 24.0427 24.879 23.552C24.879 23.072 24.991 22.64 25.215 22.256C25.4497 21.872 25.8283 21.568 26.351 21.344C26.8737 21.12 27.567 21.008 28.431 21.008H30.911V22.336H28.575C27.8923 22.336 27.4337 22.448 27.199 22.672C26.9643 22.8853 26.847 23.152 26.847 23.472C26.847 23.8347 26.991 24.1227 27.279 24.336C27.567 24.5493 27.967 24.656 28.479 24.656C28.9697 24.656 29.407 24.544 29.791 24.32C30.1857 24.096 30.4683 23.7653 30.639 23.328L30.975 24.528C30.783 25.0293 30.4363 25.4187 29.935 25.696C29.4443 25.9733 28.8203 26.112 28.063 26.112ZM28.831 29.248C28.5643 29.248 28.335 29.1627 28.143 28.992C27.9617 28.8213 27.871 28.592 27.871 28.304C27.871 28.016 27.9617 27.7813 28.143 27.6C28.335 27.4187 28.5643 27.328 28.831 27.328C29.0977 27.328 29.3217 27.4187 29.503 27.6C29.695 27.7813 29.791 28.016 29.791 28.304C29.791 28.592 29.695 28.8213 29.503 28.992C29.3217 29.1627 29.0977 29.248 28.831 29.248ZM28.927 16.4C28.1483 16.4 27.4977 16.192 26.975 15.776C26.463 15.36 26.191 14.8 26.159 14.096H27.471C27.4923 14.4693 27.6417 14.7627 27.919 14.976C28.1963 15.1893 28.5323 15.296 28.927 15.296C29.3217 15.296 29.6577 15.1893 29.935 14.976C30.223 14.7627 30.3723 14.4693 30.383 14.096H31.695C31.663 14.8 31.3857 15.36 30.863 15.776C30.351 16.192 29.7057 16.4 28.927 16.4ZM39.2218 26.112C38.2831 26.112 37.5578 25.872 37.0458 25.392C36.5338 24.9013 36.2778 24.1813 36.2778 23.232V15.568H38.2778V23.184C38.2778 23.5893 38.3791 23.904 38.5818 24.128C38.7951 24.352 39.0884 24.464 39.4618 24.464C39.9098 24.464 40.2831 24.3467 40.5818 24.112L41.1418 25.536C40.9071 25.728 40.6191 25.872 40.2778 25.968C39.9364 26.064 39.5844 26.112 39.2218 26.112ZM34.8698 19.12V17.52H40.5658V19.12H34.8698ZM49.0009 26V14.8H51.0809V24.24H56.9369V26H49.0009ZM59.187 26V17.456H61.187V26H59.187ZM60.195 16.048C59.8217 16.048 59.5123 15.9307 59.267 15.696C59.0323 15.4613 58.915 15.1787 58.915 14.848C58.915 14.5067 59.0323 14.224 59.267 14C59.5123 13.7653 59.8217 13.648 60.195 13.648C60.5683 13.648 60.8723 13.76 61.107 13.984C61.3523 14.1973 61.475 14.4693 61.475 14.8C61.475 15.152 61.3577 15.4507 61.123 15.696C60.8883 15.9307 60.579 16.048 60.195 16.048ZM60.195 29.248C59.9283 29.248 59.699 29.1627 59.507 28.992C59.3257 28.8213 59.235 28.592 59.235 28.304C59.235 28.016 59.3257 27.7813 59.507 27.6C59.699 27.4187 59.9283 27.328 60.195 27.328C60.4617 27.328 60.6857 27.4187 60.867 27.6C61.059 27.7813 61.155 28.016 61.155 28.304C61.155 28.592 61.059 28.8213 60.867 28.992C60.6857 29.1627 60.4617 29.248 60.195 29.248ZM68.532 26.112C67.636 26.112 66.836 25.9253 66.132 25.552C65.4387 25.168 64.8947 24.6453 64.5 23.984C64.1053 23.3227 63.908 22.5707 63.908 21.728C63.908 20.8747 64.1053 20.1227 64.5 19.472C64.8947 18.8107 65.4387 18.2933 66.132 17.92C66.836 17.5467 67.636 17.36 68.532 17.36C69.364 17.36 70.0947 17.5307 70.724 17.872C71.364 18.2027 71.8493 18.6933 72.18 19.344L70.644 20.24C70.388 19.8347 70.0733 19.536 69.7 19.344C69.3373 19.152 68.9427 19.056 68.516 19.056C68.0253 19.056 67.5827 19.1627 67.188 19.376C66.7933 19.5893 66.484 19.8987 66.26 20.304C66.036 20.6987 65.924 21.1733 65.924 21.728C65.924 22.2827 66.036 22.7627 66.26 23.168C66.484 23.5627 66.7933 23.8667 67.188 24.08C67.5827 24.2933 68.0253 24.4 68.516 24.4C68.9427 24.4 69.3373 24.304 69.7 24.112C70.0733 23.92 70.388 23.6213 70.644 23.216L72.18 24.112C71.8493 24.752 71.364 25.248 70.724 25.6C70.0947 25.9413 69.364 26.112 68.532 26.112ZM79.4787 17.36C80.1614 17.36 80.7694 17.4933 81.3027 17.76C81.8467 18.0267 82.2734 18.4373 82.5827 18.992C82.8921 19.536 83.0467 20.24 83.0467 21.104V26H81.0467V21.36C81.0467 20.6027 80.8654 20.0373 80.5027 19.664C80.1507 19.2907 79.6547 19.104 79.0147 19.104C78.5454 19.104 78.1294 19.2 77.7667 19.392C77.4041 19.584 77.1214 19.872 76.9187 20.256C76.7267 20.6293 76.6307 21.104 76.6307 21.68V26H74.6307V14.128H76.6307V19.76L76.1987 19.056C76.4974 18.512 76.9294 18.096 77.4947 17.808C78.0707 17.5093 78.7321 17.36 79.4787 17.36ZM93.6537 23.36L93.5417 20.896L99.4137 14.8H101.75L96.8697 19.984L95.7177 21.248L93.6537 23.36ZM91.7977 26V14.8H93.8777V26H91.7977ZM99.6057 26L95.3177 20.896L96.6937 19.376L102.038 26H99.6057ZM108.91 17.36C109.593 17.36 110.201 17.4933 110.734 17.76C111.278 18.0267 111.705 18.4373 112.014 18.992C112.323 19.536 112.478 20.24 112.478 21.104V26H110.478V21.36C110.478 20.6027 110.297 20.0373 109.934 19.664C109.582 19.2907 109.086 19.104 108.446 19.104C107.977 19.104 107.561 19.2 107.198 19.392C106.835 19.584 106.553 19.872 106.35 20.256C106.158 20.6293 106.062 21.104 106.062 21.68V26H104.062V14.128H106.062V19.76L105.63 19.056C105.929 18.512 106.361 18.096 106.926 17.808C107.502 17.5093 108.163 17.36 108.91 17.36ZM121.079 26V24.272L120.967 23.904V20.88C120.967 20.2933 120.791 19.84 120.439 19.52C120.087 19.1893 119.554 19.024 118.839 19.024C118.359 19.024 117.884 19.0987 117.415 19.248C116.956 19.3973 116.567 19.6053 116.247 19.872L115.463 18.416C115.922 18.064 116.466 17.8027 117.095 17.632C117.735 17.4507 118.396 17.36 119.079 17.36C120.316 17.36 121.271 17.6587 121.943 18.256C122.626 18.8427 122.967 19.7547 122.967 20.992V26H121.079ZM118.391 26.112C117.751 26.112 117.191 26.0053 116.711 25.792C116.231 25.568 115.858 25.264 115.591 24.88C115.335 24.4853 115.207 24.0427 115.207 23.552C115.207 23.072 115.319 22.64 115.543 22.256C115.778 21.872 116.156 21.568 116.679 21.344C117.202 21.12 117.895 21.008 118.759 21.008H121.239V22.336H118.903C118.22 22.336 117.762 22.448 117.527 22.672C117.292 22.8853 117.175 23.152 117.175 23.472C117.175 23.8347 117.319 24.1227 117.607 24.336C117.895 24.5493 118.295 24.656 118.807 24.656C119.298 24.656 119.735 24.544 120.119 24.32C120.514 24.096 120.796 23.7653 120.967 23.328L121.303 24.528C121.111 25.0293 120.764 25.4187 120.263 25.696C119.772 25.9733 119.148 26.112 118.391 26.112ZM117.911 16.288L120.071 14.096H122.423L119.639 16.288H117.911ZM137.118 17.36C137.801 17.36 138.403 17.4933 138.926 17.76C139.459 18.0267 139.875 18.4373 140.174 18.992C140.473 19.536 140.622 20.24 140.622 21.104V26H138.622V21.36C138.622 20.6027 138.457 20.0373 138.126 19.664C137.795 19.2907 137.321 19.104 136.702 19.104C136.265 19.104 135.875 19.2 135.534 19.392C135.203 19.584 134.942 19.8667 134.75 20.24C134.569 20.6133 134.478 21.088 134.478 21.664V26H132.478V21.36C132.478 20.6027 132.313 20.0373 131.982 19.664C131.651 19.2907 131.177 19.104 130.558 19.104C130.121 19.104 129.731 19.2 129.39 19.392C129.059 19.584 128.798 19.8667 128.606 20.24C128.425 20.6133 128.334 21.088 128.334 21.664V26H126.334V17.456H128.238V19.728L127.902 19.056C128.19 18.5013 128.606 18.08 129.15 17.792C129.705 17.504 130.334 17.36 131.038 17.36C131.838 17.36 132.531 17.5573 133.118 17.952C133.715 18.3467 134.11 18.944 134.302 19.744L133.518 19.472C133.795 18.832 134.254 18.32 134.894 17.936C135.534 17.552 136.275 17.36 137.118 17.36Z" fill="white" />
                        </svg>
                        <span class="mx-2"></span>
                        <svg width="100" height="41" viewBox="0 0 152 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="152" height="41" rx="5" fill="white" />
                            <path d="M24 28C27.866 28 31 24.866 31 21C31 17.134 27.866 14 24 14C20.134 14 17 17.134 17 21C17 24.866 20.134 28 24 28Z" fill="white" stroke="#00B9B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M33 30L29 26" stroke="#00B9B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M48.776 27V17.56H45.064V15.8H54.568V17.56H50.856V27H48.776ZM56.862 27V18.456H58.862V27H56.862ZM57.486 17.288L54.702 15.096H57.054L59.214 17.288H57.486ZM73.071 18.36C73.7537 18.36 74.3563 18.4933 74.879 18.76C75.4123 19.0267 75.8283 19.4373 76.127 19.992C76.4257 20.536 76.575 21.24 76.575 22.104V27H74.575V22.36C74.575 21.6027 74.4097 21.0373 74.079 20.664C73.7483 20.2907 73.2737 20.104 72.655 20.104C72.2177 20.104 71.8283 20.2 71.487 20.392C71.1563 20.584 70.895 20.8667 70.703 21.24C70.5217 21.6133 70.431 22.088 70.431 22.664V27H68.431V22.36C68.431 21.6027 68.2657 21.0373 67.935 20.664C67.6043 20.2907 67.1297 20.104 66.511 20.104C66.0737 20.104 65.6843 20.2 65.343 20.392C65.0123 20.584 64.751 20.8667 64.559 21.24C64.3777 21.6133 64.287 22.088 64.287 22.664V27H62.287V18.456H64.191V20.728L63.855 20.056C64.143 19.5013 64.559 19.08 65.103 18.792C65.6577 18.504 66.287 18.36 66.991 18.36C67.791 18.36 68.4843 18.5573 69.071 18.952C69.6683 19.3467 70.063 19.944 70.255 20.744L69.471 20.472C69.7483 19.832 70.207 19.32 70.847 18.936C71.487 18.552 72.2283 18.36 73.071 18.36ZM87.2006 24.36L87.0886 21.896L92.9606 15.8H95.2966L90.4166 20.984L89.2646 22.248L87.2006 24.36ZM85.3446 27V15.8H87.4246V27H85.3446ZM93.1526 27L88.8646 21.896L90.2406 20.376L95.5846 27H93.1526ZM97.6089 27V18.456H99.6089V27H97.6089ZM98.6169 17.048C98.2435 17.048 97.9342 16.9307 97.6889 16.696C97.4542 16.4613 97.3369 16.1787 97.3369 15.848C97.3369 15.5067 97.4542 15.224 97.6889 15C97.9342 14.7653 98.2435 14.648 98.6169 14.648C98.9902 14.648 99.2942 14.76 99.5289 14.984C99.7742 15.1973 99.8969 15.4693 99.8969 15.8C99.8969 16.152 99.7795 16.4507 99.5449 16.696C99.3102 16.9307 99.0009 17.048 98.6169 17.048ZM107.05 27.112C106.101 27.112 105.269 26.9253 104.554 26.552C103.85 26.168 103.301 25.6453 102.906 24.984C102.522 24.3227 102.33 23.5707 102.33 22.728C102.33 21.8747 102.517 21.1227 102.89 20.472C103.274 19.8107 103.797 19.2933 104.458 18.92C105.13 18.5467 105.893 18.36 106.746 18.36C107.578 18.36 108.319 18.5413 108.97 18.904C109.621 19.2667 110.133 19.7787 110.506 20.44C110.879 21.1013 111.066 21.88 111.066 22.776C111.066 22.8613 111.061 22.9573 111.05 23.064C111.05 23.1707 111.045 23.272 111.034 23.368H103.914V22.04H109.978L109.194 22.456C109.205 21.9653 109.103 21.5333 108.89 21.16C108.677 20.7867 108.383 20.4933 108.01 20.28C107.647 20.0667 107.226 19.96 106.746 19.96C106.255 19.96 105.823 20.0667 105.45 20.28C105.087 20.4933 104.799 20.792 104.586 21.176C104.383 21.5493 104.282 21.992 104.282 22.504V22.824C104.282 23.336 104.399 23.7893 104.634 24.184C104.869 24.5787 105.199 24.8827 105.626 25.096C106.053 25.3093 106.543 25.416 107.098 25.416C107.578 25.416 108.01 25.3413 108.394 25.192C108.778 25.0427 109.119 24.808 109.418 24.488L110.49 25.72C110.106 26.168 109.621 26.5147 109.034 26.76C108.458 26.9947 107.797 27.112 107.05 27.112ZM103.642 17.288L105.802 15.576H107.594L109.754 17.288H108.09L105.946 15.928H107.45L105.306 17.288H103.642ZM108.442 15.816L110.266 13.944H112.41L109.978 15.816H108.442ZM124.571 18.36C125.254 18.36 125.856 18.4933 126.379 18.76C126.912 19.0267 127.328 19.4373 127.627 19.992C127.926 20.536 128.075 21.24 128.075 22.104V27H126.075V22.36C126.075 21.6027 125.91 21.0373 125.579 20.664C125.248 20.2907 124.774 20.104 124.155 20.104C123.718 20.104 123.328 20.2 122.987 20.392C122.656 20.584 122.395 20.8667 122.203 21.24C122.022 21.6133 121.931 22.088 121.931 22.664V27H119.931V22.36C119.931 21.6027 119.766 21.0373 119.435 20.664C119.104 20.2907 118.63 20.104 118.011 20.104C117.574 20.104 117.184 20.2 116.843 20.392C116.512 20.584 116.251 20.8667 116.059 21.24C115.878 21.6133 115.787 22.088 115.787 22.664V27H113.787V18.456H115.691V20.728L115.355 20.056C115.643 19.5013 116.059 19.08 116.603 18.792C117.158 18.504 117.787 18.36 118.491 18.36C119.291 18.36 119.984 18.5573 120.571 18.952C121.168 19.3467 121.563 19.944 121.755 20.744L120.971 20.472C121.248 19.832 121.707 19.32 122.347 18.936C122.987 18.552 123.728 18.36 124.571 18.36Z" fill="#00B9B5" />
                        </svg>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0">
                        <a href="#" style="padding: 0px;
                      margin: 0px;">Chọn Ngôn Ngữ</a>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0" style="display: flex;display: flex;width: 100%;margin-left: 0px;margin-top: 11px;">
                        <a href="#" class="translate-btn m-0 p-0" data-lang="vi"> <img src="https://flagcdn.com/vn.svg" class="ml-0 img-fluid icon-langue" alt="Vietnam"></a>
                        <a href="#" class="translate-btn m-0 p-0" data-lang="ko"> <img src="https://flagcdn.com/kr.svg" class="ml-3 img-fluid icon-langue2" alt="South Korea Flag"></a>
                        <a href="#" class="translate-btn m-0 p-0" data-lang="ja"> <img src="https://flagcdn.com/jp.svg" class="ml-3 img-fluid icon-langue2" alt="Japan"></a>
                        <a href="#" class="translate-btn m-0 p-0" data-lang="zh-CN"> <img src="https://flagcdn.com/tw.svg" class="ml-3 img-fluid icon-langue" alt="Chinese"></a>
                        <a href="#" class="translate-btn m-0 p-0" data-lang="en"> <img src="https://flagcdn.com/gb.svg" class="ml-3 img-fluid icon-langue3" alt="English"></a>
                    </li>
                    <li style="display: flex; justify-content: flex-start; margin: 0px !important;">
                        <svg width="100" height="41" viewBox="0 0 152 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="152" height="41" rx="5" fill="#F26522" />
                            <path d="M24 28C27.866 28 31 24.866 31 21C31 17.134 27.866 14 24 14C20.134 14 17 17.134 17 21C17 24.866 20.134 28 24 28Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M33 30L29 26" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M48.776 27V17.56H45.064V15.8H54.568V17.56H50.856V27H48.776ZM56.862 27V18.456H58.862V27H56.862ZM57.486 17.288L54.702 15.096H57.054L59.214 17.288H57.486ZM73.071 18.36C73.7537 18.36 74.3563 18.4933 74.879 18.76C75.4123 19.0267 75.8283 19.4373 76.127 19.992C76.4257 20.536 76.575 21.24 76.575 22.104V27H74.575V22.36C74.575 21.6027 74.4097 21.0373 74.079 20.664C73.7483 20.2907 73.2737 20.104 72.655 20.104C72.2177 20.104 71.8283 20.2 71.487 20.392C71.1563 20.584 70.895 20.8667 70.703 21.24C70.5217 21.6133 70.431 22.088 70.431 22.664V27H68.431V22.36C68.431 21.6027 68.2657 21.0373 67.935 20.664C67.6043 20.2907 67.1297 20.104 66.511 20.104C66.0737 20.104 65.6843 20.2 65.343 20.392C65.0123 20.584 64.751 20.8667 64.559 21.24C64.3777 21.6133 64.287 22.088 64.287 22.664V27H62.287V18.456H64.191V20.728L63.855 20.056C64.143 19.5013 64.559 19.08 65.103 18.792C65.6577 18.504 66.287 18.36 66.991 18.36C67.791 18.36 68.4843 18.5573 69.071 18.952C69.6683 19.3467 70.063 19.944 70.255 20.744L69.471 20.472C69.7483 19.832 70.207 19.32 70.847 18.936C71.487 18.552 72.2283 18.36 73.071 18.36ZM87.2006 24.36L87.0886 21.896L92.9606 15.8H95.2966L90.4166 20.984L89.2646 22.248L87.2006 24.36ZM85.3446 27V15.8H87.4246V27H85.3446ZM93.1526 27L88.8646 21.896L90.2406 20.376L95.5846 27H93.1526ZM97.6089 27V18.456H99.6089V27H97.6089ZM98.6169 17.048C98.2435 17.048 97.9342 16.9307 97.6889 16.696C97.4542 16.4613 97.3369 16.1787 97.3369 15.848C97.3369 15.5067 97.4542 15.224 97.6889 15C97.9342 14.7653 98.2435 14.648 98.6169 14.648C98.9902 14.648 99.2942 14.76 99.5289 14.984C99.7742 15.1973 99.8969 15.4693 99.8969 15.8C99.8969 16.152 99.7795 16.4507 99.5449 16.696C99.3102 16.9307 99.0009 17.048 98.6169 17.048ZM107.05 27.112C106.101 27.112 105.269 26.9253 104.554 26.552C103.85 26.168 103.301 25.6453 102.906 24.984C102.522 24.3227 102.33 23.5707 102.33 22.728C102.33 21.8747 102.517 21.1227 102.89 20.472C103.274 19.8107 103.797 19.2933 104.458 18.92C105.13 18.5467 105.893 18.36 106.746 18.36C107.578 18.36 108.319 18.5413 108.97 18.904C109.621 19.2667 110.133 19.7787 110.506 20.44C110.879 21.1013 111.066 21.88 111.066 22.776C111.066 22.8613 111.061 22.9573 111.05 23.064C111.05 23.1707 111.045 23.272 111.034 23.368H103.914V22.04H109.978L109.194 22.456C109.205 21.9653 109.103 21.5333 108.89 21.16C108.677 20.7867 108.383 20.4933 108.01 20.28C107.647 20.0667 107.226 19.96 106.746 19.96C106.255 19.96 105.823 20.0667 105.45 20.28C105.087 20.4933 104.799 20.792 104.586 21.176C104.383 21.5493 104.282 21.992 104.282 22.504V22.824C104.282 23.336 104.399 23.7893 104.634 24.184C104.869 24.5787 105.199 24.8827 105.626 25.096C106.053 25.3093 106.543 25.416 107.098 25.416C107.578 25.416 108.01 25.3413 108.394 25.192C108.778 25.0427 109.119 24.808 109.418 24.488L110.49 25.72C110.106 26.168 109.621 26.5147 109.034 26.76C108.458 26.9947 107.797 27.112 107.05 27.112ZM103.642 17.288L105.802 15.576H107.594L109.754 17.288H108.09L105.946 15.928H107.45L105.306 17.288H103.642ZM108.442 15.816L110.266 13.944H112.41L109.978 15.816H108.442ZM124.571 18.36C125.254 18.36 125.856 18.4933 126.379 18.76C126.912 19.0267 127.328 19.4373 127.627 19.992C127.926 20.536 128.075 21.24 128.075 22.104V27H126.075V22.36C126.075 21.6027 125.91 21.0373 125.579 20.664C125.248 20.2907 124.774 20.104 124.155 20.104C123.718 20.104 123.328 20.2 122.987 20.392C122.656 20.584 122.395 20.8667 122.203 21.24C122.022 21.6133 121.931 22.088 121.931 22.664V27H119.931V22.36C119.931 21.6027 119.766 21.0373 119.435 20.664C119.104 20.2907 118.63 20.104 118.011 20.104C117.574 20.104 117.184 20.2 116.843 20.392C116.512 20.584 116.251 20.8667 116.059 21.24C115.878 21.6133 115.787 22.088 115.787 22.664V27H113.787V18.456H115.691V20.728L115.355 20.056C115.643 19.5013 116.059 19.08 116.603 18.792C117.158 18.504 117.787 18.36 118.491 18.36C119.291 18.36 119.984 18.5573 120.571 18.952C121.168 19.3467 121.563 19.944 121.755 20.744L120.971 20.472C121.248 19.832 121.707 19.32 122.347 18.936C122.987 18.552 123.728 18.36 124.571 18.36Z" fill="white" />
                        </svg>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0">
                        <a href="#" style="font-weight: 500 !important;font-family: 'Inter';">
                            <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.15625 17.8281C4.32812 15.543 0.25 10.0938 0.25 7C0.25 3.27344 3.23828 0.25 7 0.25C10.7266 0.25 13.75 3.27344 13.75 7C13.75 10.0938 9.63672 15.543 7.80859 17.8281C7.38672 18.3555 6.57812 18.3555 6.15625 17.8281ZM7 9.25C8.23047 9.25 9.25 8.26562 9.25 7C9.25 5.76953 8.23047 4.75 7 4.75C5.73438 4.75 4.75 5.76953 4.75 7C4.75 8.26562 5.73438 9.25 7 9.25Z" fill="#FAFAFA" />
                            </svg>
                            Ha Noi, Viet Nam
                        </a>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0">
                        <a href="#" style="font-weight: 500 !important;font-family: 'Inter';">
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.3125 0.5C17.2266 0.5 18 1.27344 18 2.1875C18 2.75 17.7188 3.24219 17.2969 3.55859L9.66797 9.28906C9.24609 9.60547 8.71875 9.60547 8.29688 9.28906L0.667969 3.55859C0.246094 3.24219 0 2.75 0 2.1875C0 1.27344 0.738281 0.5 1.6875 0.5H16.3125ZM7.62891 10.2031C8.4375 10.8008 9.52734 10.8008 10.3359 10.2031L18 4.4375V11.75C18 13.0156 16.9805 14 15.75 14H2.25C0.984375 14 0 13.0156 0 11.75V4.4375L7.62891 10.2031Z" fill="#FAFAFA" />
                            </svg>
                            support@carelink.com
                        </a>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0">
                        <a href="#" style="font-weight: 500 !important;font-family: 'Inter';">
                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.9648 13.8555L17.1211 17.4062C17.0156 17.9336 16.5938 18.2852 16.0664 18.2852C7.20703 18.25 0 11.043 0 2.18359C0 1.65625 0.316406 1.23438 0.84375 1.12891L4.39453 0.285156C4.88672 0.179688 5.41406 0.460938 5.625 0.917969L7.27734 4.75C7.45312 5.20703 7.34766 5.73438 6.96094 6.01562L5.0625 7.5625C6.25781 9.98828 8.22656 11.957 10.6875 13.1523L12.2344 11.2539C12.5156 10.9023 13.043 10.7617 13.5 10.9375L17.332 12.5898C17.7891 12.8359 18.0703 13.3633 17.9648 13.8555Z" fill="#FAFAFA" />
                            </svg>
                            +62 864 6444 2222
                        </a>
                    </li>
                </ul>
                <nav>
                    <ul class="main-menu d-none d-lg-inline">
                        <li>
                            <a href="/AboutUs/AboutUs" class="text-menu">
                                Về SunMedical
                            </a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/Service/ServiceList"><ion-icon name="home-outline"></ion-icon> Chuyên Khoa</a>
                            <ul class="sub-menu font-small" id="menuChuyenKhoa">
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/Service/ServiceList" class="text-menu">Dịch Vụ Đặc Biệt</a>
                            <ul class="sub-menu font-small" id="menuDichVuDacBiet">
                            </ul>
                        </li>
                        <li>
                            <a href="/Doctor/ListDoctor" class="text-menu">
                                Bác Sĩ
                            </a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/Blog/Blog" class="text-menu">Tin Tức</a>
                            <ul class="sub-menu font-small" id="menuBaiViet">
                            </ul>
                        </li>
                        <li>
                            <a href="/LienHe/LienHe" class="text-menu">
                                Liên Hệ
                            </a>
                        </li>
                        <li>
                            <a href="/FAQ/Index" class="text-menu">
                                FAQ
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="main-menu d-none d-lg-inline btn-orrange btn-login ml-2">Đăng Nhập</a>
                </nav>
            </div>
        </div>
    </div>
</div>
