<div class="container p-0">
    <div class="row">
        <div class="col-lg-3 col-md-3" id="menuMDesk">
            <div class="header-logo d-none d-lg-block">
                <a href="/Home/Index">
                    <img class="logo-img d-inline p-2" src="~/web/images/Group.png" width="255px" alt="">
                </a>
            </div>
            <div class="logo-mobile d-block d-md-none">
                <a href="/Home/Index">
                    @* <img src="~/root/mb.png" /> *@
                    <img class="logo-img d-inline"
                         id="logoImage"
                         src="@Url.Content("~/web/images/Group.png")"
                         data-alt-src="@Url.Content("~/src/image_figma/asset 1 2.png")"
                         width="200"
                         alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 main-header-navigation">
            <!-- Main-menu -->
            <div class="main-nav text-left float-lg-left float-md-right">
                <ul class="mobi-menu d-none" id="navigation">
                    <li class="cat-item txt-mobile col-12 p-0"><a href="/AboutUs/AboutUs">Về SunMedical</a></li>
                    <li class="cat-item txt-mobile col-12 p-0">
                        <a href="/Service/ServiceList">
                            Chuyên Khoa
                        </a>
                        <ul class="sub-menu font-small m-0">
                        </ul>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0">
                        <a href="/Service/ServiceList">
                            Dịch Vụ Đặc Biệt
                        </a>
                        <ul class="sub-menu font-small m-0" id="menuDichVuDacBietMobile">
                        </ul>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0"><a href="/Doctor/ListDoctor">Bác Sĩ</a></li>
                    <li class="cat-item txt-mobile col-12 p-0">
                        <a href="/Blog/Blog">
                            Tin Tức
                        </a>
                        <ul class="sub-menu font-small m-0" id="menuBaiVietMobile">
                        </ul>
                    </li>
                    <li class="cat-item txt-mobile col-12 p-0"><a href="/LienHe/LienHe">Liên Hệ</a></li>
                    <li class="cat-item txt-mobile col-12 p-0"><a href="/FAQ/Index">FAQ</a></li>
                    <li class="cat-item txt-mobile col-12 p-0"><a href="#">Chọn Ngôn Ngữ</a></li>
                    <li class="cat-item txt-mobile col-12 p-0" style="display: flex;display: flex;width: 100%;margin-left: 12px;margin-top: 11px;">
                        <a href="#" class="translate-btn m-0 p-0" data-lang="vi"> <img src="https://flagcdn.com/vn.svg" class="ml-0 img-fluid icon-langue" alt="Vietnam"></a>
                        <a href="#" class="translate-btn m-0 p-0" data-lang="ko"> <img src="https://flagcdn.com/kr.svg" class="ml-3 img-fluid icon-langue2" alt="South Korea Flag"></a>
                        <a href="#" class="translate-btn m-0 p-0" data-lang="ja"> <img src="https://flagcdn.com/jp.svg" class="ml-3 img-fluid icon-langue2" alt="Japan"></a>
                        <a href="#" class="translate-btn m-0 p-0" data-lang="zh-CN"> <img src="https://flagcdn.com/tw.svg" class="ml-3 img-fluid icon-langue" alt="Chinese"></a>
                        <a href="#" class="translate-btn m-0 p-0" data-lang="en"> <img src="https://flagcdn.com/gb.svg" class="ml-3 img-fluid icon-langue3" alt="English"></a>
                    </li>
                    <li class="mt-20 mb-20"><a href="#" class="main-menu d-lg-inline btn-orrange ml-2" style="width:fit-content">Đăng Nhập tài khoản</a></li>
                    <li class="cat-item txt-mobile col-12 p-0"><a href="#"><i class="fa fa-map-marker text-white"></i> Ha Noi, Viet Nam</a></li>
                    <li class="cat-item txt-mobile col-12 p-0"><a href="#"><i class="fa fa-envelope text-white"></i> support@carelink.com</a></li>
                    <li class="cat-item txt-mobile col-12 p-0"><a href="#"><i class="fa fa-phone text-white"></i> +62 864 6444 2222</a></li>
                </ul>
                <nav>
                    <ul class="main-menu d-none d-lg-inline">
                        <li>
                            <a href="/AboutUs/AboutUs" class="text-menu">
                                Về SunMedical
                            </a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/Service/ServiceList"><ion-icon name="home-outline"></ion-icon> Chuyên Khoa</a>
                            <ul class="sub-menu font-small" id="menuChuyenKhoa">
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/Service/ServiceList" class="text-menu">Dịch Vụ Đặc Biệt</a>
                            <ul class="sub-menu font-small" id="menuDichVuDacBiet">
                            </ul>
                        </li>
                        <li>
                            <a href="/Doctor/ListDoctor" class="text-menu">
                                Bác Sĩ
                            </a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/Blog/Blog" class="text-menu">Tin Tức</a>
                            <ul class="sub-menu font-small" id="menuBaiViet">
                            </ul>
                        </li>
                        <li>
                            <a href="/LienHe/LienHe" class="text-menu">
                                Liên Hệ
                            </a>
                        </li>
                        <li>
                            <a href="/FAQ/Index" class="text-menu">
                                FAQ
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="main-menu d-none d-lg-inline btn-orrange btn-login ml-2">Đăng Nhập</a>
                </nav>
            </div>
        </div>
    </div>
</div>
