<div class="container p-0">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="header-logo d-none d-lg-block">
                <a href="/Home/Index">
                    <img class="logo-img d-inline p-2" src="~/web/images/Group.png" width="255px" alt="">
                </a>
            </div>
            <div class="logo-tablet d-md-inline d-lg-none d-none">
                <a href="/Home/Index">
                    <img class="logo-img d-inline" src="~/web/images/Group.png" alt="">
                </a>
            </div>
            <div class="logo-mobile d-block d-md-none">
                <a href="/Home/Index">
                    <img class="logo-img d-inline" src="~/web/images/Group.png" width="200" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 main-header-navigation">
            <!-- Main-menu -->
            <div class="main-nav text-left float-lg-left float-md-right">
                <ul class="mobi-menu d-none" id="navigation">
                    <li class="cat-item "><a href="#">Về SunMedical</a></li>
                    <li class="cat-item cat-item-3"><a href="#">Chuyên Khoa</a></li>
                    <li class="cat-item cat-item-4"><a href="#">Dịch Vụ Đặc Biệt</a></li>
                    <li class="cat-item cat-item-5"><a href="#">Bác Sĩ</a></li>
                    <li class="cat-item cat-item-6"><a href="#">Tin Tức</a></li>
                    <li class="cat-item cat-item-7"><a href="#">Liên Hệ</a></li>
                    <li class="cat-item cat-item-8"><a href="#">FAQ</a></li>
                    <li class="cat-item cat-item-8" style="display: flex;font-size:13px!important;font-size: medium;font-family: Montserrat; font-weight: 600;color: white;">Chọn Ngôn Ngữ</li>
                    <li class="" style="display: flex;">
                        <img class="ml-3" src="https://flagcdn.com/vn.svg" alt="Vietnam Flag" width="40">
                        <img class="ml-3" src="https://flagcdn.com/jp.svg" alt="Japan Flag" width="40">
                        <img class="ml-3" src="https://flagcdn.com/tw.svg" alt="Taiwan Flag" width="40">
                        <img class="ml-3" src="https://flagcdn.com/gb.svg" alt="UK Flag" width="45">
                    </li>
                    <li class="mt-20"><a href="#" class="main-menu d-lg-inline btn-orrange ml-2" style="width:fit-content">Đăng Nhập tài khoản</a></li>

                </ul>
                <nav>
                    <ul class="main-menu d-none d-lg-inline">
                        <li>
                            <a href="#">
                                Về SunMedical
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Chuyên Khoa
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Dịch Vụ Đặc Biệt
                            </a>
                        </li>
                        <li>
                            <a href="/Doctor/ListDoctor">
                                Bác Sĩ
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Tin Tức
                            </a>
                        </li>
                        <li>
                            <a href="/LienHe/LienHe">
                                Liên Hệ
                            </a>
                        </li>
                        <li>
                            <a href="/FAQ/Index">
                                FAQ
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="main-menu d-none d-lg-inline btn-orrange ml-2">Đăng Nhập</a>
                </nav>
            </div>
        </div>
    </div>
</div>
