<footer>
    <div class="footer-area pt-50" style="background:#EDFFFF;position: relative;">
        <div class="container">
            <div class="row pb-30 p-10">
                <div class="col-md-6 col-lg-5 mb-30">
                    <div class="footer-container">
                        <div class="footer-left">
                            <div class="footer-logo mb-20">
                                <img src="~/web/images/Group.png" alt="Sun Medical Center" height="50" />
                            </div>
                            <p class="footer-desc m-0">
                                Mang đến dịch vụ y tế chất lượng cao với đội ngũ bác sĩ chuyên môn giỏi, trang thiết bị hiện đại và quy trình chăm sóc tận tâm. Chúng tôi cam kết bảo vệ sức khỏe của bạn và gia đình, cung cấp giải pháp y tế toàn diện từ phòng ngừa đến điều trị, giúp bạn an tâm và khỏe mạnh mỗi ngày.
                            </p>
                            <div class="footer-desc m-0">
                                <p style="font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 13px;color: #000000;margin:0">
                                    Địa chỉ phòng khám
                                </p>
                            </div>
                            <p class="footer-desc txtDiaChiPhongKham m-0">
                            </p>
                            <div class="social-icons mt-20">
                                <a href="#" class="social-box fb"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-box tw"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-box in"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-2 col-6">
                    <ul class="float-left mr-30 font-medium">
                        <li class="cat-item cat-item-2 text-c-10 txt-main-footer"><a href="category.html">Sun Medical</a></li>
                        <li class="cat-item cat-item-3 text-c-9"><a href="/about-us">Về chúng tôi</a></li>
                        <li class="cat-item cat-item-4 text-c-9"><a href="/dich-vu-dac-biet">Dịch vụ</a></li>
                        <li class="cat-item cat-item-5 text-c-9"><a href="/lien-he">Đặt lịch</a></li>
                        <li class="cat-item cat-item-6 text-c-9"><a href="/danh-sach-bac-si">Tìm bác sĩ</a></li>
                        <li class="cat-item cat-item-7 text-c-9"><a href="/cau-hoi-thuong-gap">Điều khoản</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 col-6">
                    <ul class="float-left mr-30 font-medium">
                        <li class="cat-item cat-item-2 text-c-10 txt-main-footer"><a href="/lien-he">Hỗ trợ</a></li>
                        <li class="cat-item cat-item-3 text-c-9"><a href="#">Trung tâm hỗ trợ</a></li>
                        <li class="cat-item cat-item-4 text-c-9"><a href="#">Dịch vụ 24/7</a></li>
                        <li class="cat-item cat-item-5 text-c-9"><a href="#">Chat với chúng tôi</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-lg-3 col-12">
                    <ul class="float-left mr-30 font-medium">
                        <li class="cat-item cat-item-2 text-c-10 txt-main-footer"><a href="/lien-he">Liên hệ</a></li>
                        <li class="cat-item cat-item-3 text-c-9">
                            <a href="tel:18008005">
                                <svg width="13" height="13" class="text-black" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.9648 13.8555L17.1211 17.4062C17.0156 17.9336 16.5938 18.2852 16.0664 18.2852C7.20703 18.25 0 11.043 0 2.18359C0 1.65625 0.316406 1.23438 0.84375 1.12891L4.39453 0.285156C4.88672 0.179688 5.41406 0.460938 5.625 0.917969L7.27734 4.75C7.45312 5.20703 7.34766 5.73438 6.96094 6.01562L5.0625 7.5625C6.25781 9.98828 8.22656 11.957 10.6875 13.1523L12.2344 11.2539C12.5156 10.9023 13.043 10.7617 13.5 10.9375L17.332 12.5898C17.7891 12.8359 18.0703 13.3633 17.9648 13.8555Z" fill="black" />
                                </svg>
                                <span class="txtHotline"></span>
                            </a>
                        </li>
                        <li class="cat-item cat-item-5 text-c-9">
                            <a href="mailto:support@carelink.com">
                                <i class="fas fa-envelope"></i> <span class="txtEmail"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area text-muted" style="background:#EDFFFF">
        <div class="container">
            <div class="footer-border p-0">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-12">
                        <div class="footer-copy-right">
                            <p class="font-small text-muted">Copyright ©2025 <strong style="color:#000">SunMedical</strong></p>
                            <p class="font-small text-muted">Design by <strong style="color:#000">Le Vu Media</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
