<footer>
    <div class="footer-area pt-50" style="background:#EDFFFF">
        <div class="container">
            <div class="row pb-30 p-20">
                <div class="col-sm-6 mb-30">
                    <div class="footer-container">
                        <div class="footer-left">
                            <div class="footer-logo mb-20">
                                <img src="~/web/images/Group.png" alt="Sun Medical Center" height="50" />
                            </div>
                            <p class="footer-desc m-0">
                                Mang đến dịch vụ y tế chất lượng cao với đội ngũ bác sĩ chuyên môn giỏi, trang thiết bị hiện đại và quy trình chăm sóc tận tâm. Chúng tôi cam kết bảo vệ sức khỏe của bạn và gia đình, cung cấp giải pháp y tế toàn diện từ phòng ngừa đến điều trị, giúp bạn an tâm và khỏe mạnh mỗi ngày.
                            </p>
                            <div class="footer-desc m-0">
                                <p style="font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 13px;color: #000000;margin:0">
                                    Địa chỉ phòng khám
                                </p>
                            </div>
                            <p class="footer-desc m-0">
                                Tòa nhà Times Tower, 35 Đ. Lê Văn Lương, Nhân Chính, Thanh Xuân, Hà Nội
                            </p>
                            <div class="social-icons mt-20">
                                <a href="#" class="social-box fb"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-box tw"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-box in"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 col-6">
                    <ul class="float-left mr-30 font-medium">
                        <li class="cat-item cat-item-2 text-c-10" style="font-weight:bold;margin-bottom:20px"><a href="category.html">Sun Medical</a></li>
                        <li class="cat-item cat-item-3 text-c-9"><a href="/AboutUs/AboutUs">Về chúng tôi</a></li>
                        <li class="cat-item cat-item-4 text-c-9"><a href="/DichVuDacBiet/DichVuDacBiet">Dịch vụ</a></li>
                        <li class="cat-item cat-item-5 text-c-9"><a href="/LienHe/LienHe">Đặt lịch</a></li>
                        <li class="cat-item cat-item-6 text-c-9"><a href="/Doctor/ListDoctor">Tìm bác sĩ</a></li>
                        <li class="cat-item cat-item-7 text-c-9"><a href="/FAQ/Index">Điều khoản</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 col-6 mb-30">
                    <ul class="float-left mr-30 font-medium">
                        <li class="cat-item cat-item-2 text-c-10" style="font-weight:bold;margin-bottom:20px"><a href="category.html">Hỗ trợ</a></li>
                        <li class="cat-item cat-item-3 text-c-9"><a href="#">Trung tâm hỗ trợ</a></li>
                        <li class="cat-item cat-item-4 text-c-9"><a href="#">Dịch vụ 24/7</a></li>
                        <li class="cat-item cat-item-5 text-c-9"><a href="#">Chat với chúng tôi</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 col-6">
                    <ul class="float-left mr-30 font-medium">
                        <li class="cat-item cat-item-2 text-c-10" style="font-weight:bold;margin-bottom:20px"><a href="category.html">Liên hệ</a></li>
                        <li class="cat-item cat-item-3 text-c-9"><a href="tel:18008005">+1800 8005</a></li>
                        <li class="cat-item cat-item-5 text-c-9"><a href="#"> reception@sunmedical.vn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area text-muted" style="background:#EDFFFF">
        <div class="container">
            <div class="footer-border p-0">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-12">
                        <div class="footer-copy-right">
                            <p class="font-small text-muted">Copyright ©2025 <strong style="color:#000">SunMedical</strong></p>
                            <p class="font-small text-muted">Design by <strong style="color:#000">Le Vu Media</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
