<!DOCTYPE html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sun Meidcal</title>
    <link rel="icon" type="image/x-icon" href="~/web/images/icon_Group.png" />
    @await Html.PartialAsync("_StyleBundle")
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h6>Loading</h6>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrap main-mobile">
        <aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar position-right">
            <button class="off-canvas-close"><i class="ti-close"></i></button>
        </aside>
        <header class="main-header background-white header-style-2">
            @await Html.PartialAsync("_HeaderMenu")
            <div class="header-bottom header-sticky background-white text-center" id="header-menu">
                <div class="scroll-progress gradient-bg-1"></div>
                <div class="mobile_menu d-lg-none d-block"></div>
                @await Html.PartialAsync("_ClientMenu")
            </div>
        </header>
        <!-- Main Wrap Start -->
        <main class="position-relative">
            <img src="~/src/image_figma/group.png" class="orange-top" alt="orange-top" />
            @RenderBody()
        </main>
        <!-- Footer Start-->
        @await Html.PartialAsync("_Footer")
        @await Html.PartialAsync("_NavigationBottom")
    </div>
    <div class="social-float-buttons">
        <a href="https://www.facebook.com/SunMedicalCenterVN" target="_blank" class="social-btn messenger">
            <img src="~/src/image_figma/message.png" alt="Messenger">
        </a>
        <a href="https://zalo.me/0911572702" target="_blank" class="social-btn zalo">
            <img src="~/src/image_figma/zalo.png" alt="Zalo">
        </a>
        <a href="tel:1800 8005" target="_blank" class="social-btn whatsapp">
            <img src="~/src/image_figma/phone.png" width="150px" alt="WhatsApp">
        </a>
    </div>
    <div id="google_translate_element" style="display:none"></div>
    @await Html.PartialAsync("_ScriptsBundle")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>