<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Đấu giá lạc việt</title>
	<!-- favicons Icons -->
	<link rel="apple-touch-icon"
		  sizes="180x180"
		  href="~/web/assets/images/favicons/apple-touch-icon.png" />
	<link rel="icon"
		  type="image/png"
		  sizes="32x32"
		  href="~/web/assets/images/favicons/favicon-32x32.png" />
	<link rel="icon"
		  type="image/png"
		  sizes="16x16"
		  href="~/web/assets/images/favicons/favicon-16x16.png" />
	<link rel="manifest" href="~/web/assets/images/favicons/site.webmanifest" />
	<meta name="description" content="Crank HTML 5 Template " />

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		  rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap"
		  rel="stylesheet" />

	<link rel="stylesheet" href="~/web/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/web/assets/css/animate.min.css" />
	<link rel="stylesheet" href="~/web/assets/css/custom-animate.css" />
	<link rel="stylesheet" href="~/web/assets/css/swiper.min.css" />
	<link rel="stylesheet" href="~/web/assets/css/font-awesome-all.css" />
	<link rel="stylesheet" href="~/web/assets/css/jarallax.css" />
	<link rel="stylesheet" href="~/web/assets/css/jquery.magnific-popup.css" />
	<link rel="stylesheet" href="~/web/assets/css/flaticon.css" />
	<link rel="stylesheet" href="~/web/assets/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="~/web/assets/css/odometer.min.css" />
	<link rel="stylesheet" href="~/web/assets/css/owl.theme.default.min.css" />
	<link rel="stylesheet" href="~/web/assets/css/nice-select.css" />
	<link rel="stylesheet" href="~/web/assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="~/web/assets/css/aos.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/slider.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/footer.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/counter.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/services.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/about.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/brand.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/gallery.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/faq.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/testimonial.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/team.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/contact.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/pricing.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/blog.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/sliding-text.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/why-choose.css" />
	<link rel="stylesheet" href="~/web/assets/css/module-css/shop.css">

	<!-- template styles -->
	<link rel="stylesheet" href="~/web/assets/css/style.css" />
	<link rel="stylesheet" href="~/web/assets/css/responsive.css" />
</head>

<body class="custom-cursor body-bg-color">
	<div class="custom-cursor__cursor"></div>
	<div class="custom-cursor__cursor-two"></div>

	<div class="preloader">
		<div class="preloader__image"></div>
	</div>
	<!-- /.preloader -->
	<!-- Start sidebar widget content -->
	<div class="xs-sidebar-group info-group info-sidebar">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">X</a>
				</div>
				<div class="sidebar-textwidget">
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="logo">
								<a href="index.html">
									<img src="~/web/assets/images/resources/logo-1.png" alt="" />
								</a>
							</div>
							<div class="content-box">
								<h4>About Us</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod
									tempor incididunt ut labore et magna aliqua. Ut enim ad
									minim veniam laboris.
								</p>
							</div>
							<div class="form-inner">
								<h4>Get a free quote</h4>
								<form action="~/web/assets/inc/sendemail.php"
									  class="contact-form-validated"
									  novalidate="novalidate">
									<div class="form-group">
										<input type="text"
											   name="name"
											   placeholder="Name"
											   required="" />
									</div>
									<div class="form-group">
										<input type="email"
											   name="email"
											   placeholder="Email"
											   required="" />
									</div>
									<div class="form-group">
										<textarea name="message"
												  placeholder="Message..."></textarea>
									</div>
									<div class="form-group message-btn">
										<button type="submit" class="thm-btn form-inner__btn">
											Submit Now
										</button>
									</div>
								</form>
								<div class="result"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End sidebar widget content -->

	<div class="page-wrapper">
		<header class="main-header-three">
			<div class="main-header-three__wrapper">
				<div class="main-menu-three__top" style="background-color: #903232;">
					<div class="container">
						<div class="main-menu-three__top-inner">
							<ul class="list-unstyled main-menu-three__contact-list">
								<li>
									<div class="icon">
										<i class="icon-pin"></i>
									</div>
									<div class="text">
										<p>36/203 Kim Ngưu,Thanh Lương Phường Hai Bà trưng,Hà Nội</p>
									</div>
								</li>
								<li>
									<div class="icon">
										<i class="icon-clock"></i>
									</div>
									<div class="text">
										<p>Làm việc: 08:00 AM-05:00 PM</p>
									</div>
								</li>
							</ul>
							<div class="main-menu-three__top-right">
								<div class="main-menu-three__social">
									<a href="#"><i class="icon-facebook-f"></i></a>
									<a href="#"><i class="icon-instagram"></i></a>
									<a href="#"><i class="icon-Vector"></i></a>
									<a href="#"><i class="icon-linkedin-in-two"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav class="main-menu main-menu-three">
					<div class="main-menu-three__wrapper">
						<div class="container">
							<div class="main-menu-three__wrapper-inner">
								<div class="main-menu-three__left">
									<div class="main-header-three__logo">
										<a href="index.html">
											<img class="img-fluid" width="155" src="https://lacvietauction.vn/files/frontend/images/core/logo-dau-gia-lac-viet.png" alt="" />
										</a>
									</div>
								</div>
								<div class="main-menu-three__right">
									<div class="main-menu-three__main-menu-box">
										<a href="#" class="mobile-nav__toggler">
											<i class="fa fa-bars"></i>
										</a>
										<ul class="main-menu__list one-page-scroll-menu">
											<li class="dropdown scrollToLink">
												<a href="#home">Tài sản đấu giá </a>
												<ul>
													<li><a href="index.html">Tài sản nhà nước</a></li>
													<li><a href="index2.html">Bất động sản</a></li>
													<li><a href="index3.html">Phượng tiện - Xe cộ</a></li>
													<li><a href="index4.html">Sưu tầm  - Nghệ thuật</a></li>
													<li><a href="index-dark.html">Hàng hiệu xa xỉ</a></li>
													<li><a href="index-dark.html">Tài sản khác</a></li>
												</ul>
											</li>
											<li class="scrollToLink">
												<a href="#services">Phiên đấu giá</a>
											</li>
											<li class="scrollToLink">
												<a href="#about">Tin tức</a>
											</li>
											<li class="scrollToLink">
												<a href="#team">Giới thiệu</a>
											</li>
											<li class="scrollToLink">
												<a href="#project">Liên hệ</a>
											</li>
											<li class="scrollToLink">
												<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalLogin" onclick="">Đăng nhập</button>
											</li>
											@* <li class="dropdown scrollToLink">
												<a href="#home"><i class="fa fa-user"></i> Trần Minh Quân </a>
												<ul>
													<li><a href="index.html">Thông tin cá nhân</a></li>
													<li><a href="index2.html">Lịch đấu giá</a></li>
												</ul>
											</li> *@
											
										</ul>
									</div>
									<div class="main-menu__nav-sidebar-icon">
										<a class="navSidebar-button" href="#">
											<span class="icon-dots-menu-one"></span>
											<span class="icon-dots-menu-two"></span>
											<span class="icon-dots-menu-three"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</header>

		<div class="stricky-header stricked-menu main-menu main-menu-three">
			<div class="sticky-header__content"></div>
			<!-- /.sticky-header__content -->
		</div>
		<!-- /.stricky-header -->

		<div class="main-wrapper">
			@RenderBody()
		</div>

		<!--Site Footer Three Start-->
		<footer class="site-footer-three">
			<div class="site-footer-three__wrap">
				<div class="site-footer-three__shape-1"></div>
				<div class="site-footer-three__shape-2"></div>
				<div class="site-footer-three__top">
					<div class="container">
						<div class="site-footer-three__top-inner">
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp"
									 data-wow-delay="100ms">
									<div class="site-footer-three__left">
										<form class="site-footer-three__newsletter-form">
											<div class="site-footer-three__newsletter-input">
												<input type="email" placeholder="Nhận thông báo qua Email..." />
											</div>
											<button type="submit"
													class="site-footer-three__newsletter-btn">
												<span class="icon-send"></span>
											</button>
										</form>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp"
									 data-wow-delay="200ms">
									<div class="site-footer-three__right">
										<ul class="list-unstyled site-footer-three__menu">
											<li><a href="index.html">Công ty đấu giá hợp danh Lạc Việt</a></li>
											<li><a href="about.html">Về chúng tôi</a></li>
										
										</ul>
										<div class="site-footer-three__img-box">
											<div class="site-footer-three__road">
												<img src="~/web/assets/images/shapes/site-footer-three-road.png"
													 alt="" />
											</div>
											<div class="site-footer-three__img">
												<img class="img-fluid" src="https://lacvietauction.vn//files/frontend/images/core/logoCCDV.png" width="100" style="width:200px" alt="" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="site-footer__bottom">
					<div class="container">
						<div class="row">
							<div class="col-xl-12">
								<div class="site-footer__bottom-inner">
									<div class="site-footer__copyright">
										<p class="site-footer__copyright-text">
											Copyright 2024 © Công ty đấu giá hợp danh Lạc Việt
										</p>
									</div>
									<div class="site-footer__bottom-menu-box">
										<ul class="list-unstyled site-footer__bottom-menu">
											<li><a href="about.html">Câu hỏi thường gặp</a></li>
											<li><a href="about.html">Văn bản pháp quy</a></li>
											<li><a href="about.html">Điều khoản sử dụng</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--Site Footer Three End-->
	</div>
	<!-- /.page-wrapper -->

	<div class="mobile-nav__wrapper">
		<div class="mobile-nav__overlay mobile-nav__toggler"></div>
		<!-- /.mobile-nav__overlay -->
		<div class="mobile-nav__content">
			<span class="mobile-nav__close mobile-nav__toggler">
				<i class="fa fa-times"></i>
			</span>

			<div class="logo-box">
				<a href="index.html" aria-label="logo image">
					<img src="~/web/assets/images/resources/logo-1.png" width="135" alt="" />
				</a>
			</div>
			<!-- /.logo-box -->
			<div class="mobile-nav__container"></div>
			<!-- /.mobile-nav__container -->

			<ul class="mobile-nav__contact list-unstyled">
				<li>
					<i class="fa fa-envelope"></i>
					<a href="mailto:needhelp@packageName__.com">needhelp@crank.com</a>
				</li>
				<li>
					<i class="fas fa-phone"></i>
					<a href="tel:666-888-0000">666 888 0000</a>
				</li>
			</ul>
			<!-- /.mobile-nav__contact -->
			<div class="mobile-nav__top">
				<div class="mobile-nav__social">
					<a href="#" class="fab fa-twitter"></a>
					<a href="#" class="fab fa-facebook-square"></a>
					<a href="#" class="fab fa-pinterest-p"></a>
					<a href="#" class="fab fa-instagram"></a>
				</div>
				<!-- /.mobile-nav__social -->
			</div>
			<!-- /.mobile-nav__top -->
		</div>
		<!-- /.mobile-nav__content -->
	</div>
	<!-- /.mobile-nav__wrapper -->

	<div class="search-popup">
		<div class="search-popup__overlay search-toggler"></div>
		<!-- /.search-popup__overlay -->
		<div class="search-popup__content">
			<form action="#">
				<label for="search" class="sr-only">search here</label><!-- /.sr-only -->
				<input type="text" id="search" placeholder="Search Here..." />
				<button type="submit" aria-label="search submit" class="thm-btn">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
		<!-- /.search-popup__content -->
	</div>
	<!-- /.search-popup -->
	<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Đăng nhập thệ thống</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-0">
					<div class="login-one__form">
						<form id="login-one__form" name="Login-one_form" action="#" method="post">
							<div class="row">
								<div style=" " class="loginLogoContainer mb-2">
									<img class="img-fluid" width="300" src="https://lacvietauction.vn/files/frontend/images/core/logo-dau-gia-lac-viet.png" style="" class="loginLogo">
								</div>
								<div class="col-xl-12 mb-2">
									<div class="form-group">
										<label>Tài khoản</label>
										<div class="input-box">
											<input class="" type="email" name="form_email" id="formEmail" placeholder="Tài khoản ..." required="" value="">
										</div>
									</div>
								</div>
								<div class="col-xl-12 mb-2">
									<div class="form-group">
										<label>Mật khẩu</label>
										<div class="input-box">
											<input class="" type="text" name="form_password" id="formPassword" placeholder="Mật khẩu ..." required="" value="">
										</div>
									</div>
								</div>
								<div class="col-xl-12 mb-1">
									<div class="form-group">
										<button class="btn thm-btn w-100 p-2" type="submit" data-loading-text="Please wait...">
											Đăng nhập hệ thống
										</button>
									</div>
								</div>
								<div class="remember-forget row">
									<div class="checked-box1">
										<input type="checkbox" name="saveMyInfo" id="saveinfo" checked="">
										<label for="saveinfo">
											<span></span>
											Ghi nhớ
										</label>
									</div>
								</div>

								<div class="create-account text-center">
									<p>
										Bạn chưa có tài khoản?
										<a href="/DangKyTaiKhoan/DangKyTaiKhoan">Tạo tài khoản</a>/<a href="#">Quên mật khẩu</a>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a href="#" data-target="html" class="scroll-to-target scroll-to-top">
		<span class="scroll-to-top__wrapper">
			<span class="scroll-to-top__inner"></span>
		</span>
		<span class="scroll-to-top__text"> Go Back Top</span>
	</a>

	<script src="~/web/assets/js/jquery-3.6.0.min.js"></script>
	<script src="~/web/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/web/assets/js/jarallax.min.js"></script>
	<script src="~/web/assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="~/web/assets/js/jquery.appear.min.js"></script>
	<script src="~/web/assets/js/swiper.min.js"></script>
	<script src="~/web/assets/js/jquery.circle-progress.min.js"></script>
	<script src="~/web/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="~/web/assets/js/isotope.js"></script>
	<script src="~/web/assets/js/jquery.validate.min.js"></script>
	<script src="~/web/assets/js/wNumb.min.js"></script>
	<script src="~/web/assets/js/wow.js"></script>
	<script src="~/web/assets/js/owl.carousel.min.js"></script>
	<script src="~/web/assets/js/jquery-ui.js"></script>
	<script src="~/web/assets/js/odometer.min.js"></script>
	<script src="~/web/assets/js/jquery.nice-select.min.js"></script>
	<script src="~/web/assets/js/jquery-sidebar-content.js"></script>
	<script src="~/web/assets/js/marquee.min.js"></script>
	<script src="~/web/assets/js/gsap/gsap.js"></script>
	<script src="~/web/assets/js/gsap/ScrollTrigger.js"></script>
	<script src="~/web/assets/js/gsap/SplitText.js"></script>
	<script src="~/web/assets/js/aos.js"></script>
	<!-- template js -->
	<script src="~/web/assets/js/script.js"></script>
</body>
</html>
