<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sun Meidcal</title>
    <link rel="icon" type="image/x-icon" href="~/web/images/icon_Group.png" />
    <link rel="stylesheet" href="~/web/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web/clinic_website.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="~/web/css/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/web/assets/css/style.css">
    <link rel="stylesheet" href="~/web/assets/css/widgets.css">
    <link rel="stylesheet" href="~/web/assets/css/color.css">
    <link rel="stylesheet" href="~/web/assets/css/responsive.css">
    <link rel="stylesheet" href="~/web/assets/css/style.css">
    <link rel="stylesheet" href="~/web/assets/css/widgets.css">
    <link rel="stylesheet" href="~/web/assets/css/color.css">
    <link rel="stylesheet" href="~/web/assets/css/responsive.css">
    <link href="~/web/assets/css/main.css" rel="stylesheet" />
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h6>Loading</h6>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrap main-mobile">
        <aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar position-right">
            <button class="off-canvas-close"><i class="ti-close"></i></button>
        </aside>
        <!-- Main Header -->
        <header class="main-header header-style-2">
            <div class="header-top header-menutop">
                <div class="contact">
                    <span><i class="fas fa-map-marker-alt"></i> Ha Noi, Viet Nam</span>
                    <span><i class="fas fa-envelope"></i> <a href="mailto:support@carelink.com" class="text-white">support@carelink.com</a></span>
                    <span><i class="fas fa-phone"></i> +62 864 644 2222</span>
                    <div class="flags">
                        <img src="https://flagcdn.com/vn.svg" alt="Vietnam Flag">
                        <img src="https://flagcdn.com/jp.svg" alt="Japan Flag">
                        <img src="https://flagcdn.com/tw.svg" alt="Taiwan Flag">
                        <img src="https://flagcdn.com/gb.svg" alt="UK Flag">
                    </div>
                </div>
            </div>
            <div class="header-bottom header-sticky background-white text-center">
                <div class="scroll-progress gradient-bg-1"></div>
                <div class="mobile_menu d-lg-none d-block"></div>
                @await Html.PartialAsync("_ClientMenu")
            </div>
        </header>
        <!-- Main Wrap Start -->
        <main class="position-relative">
            @RenderBody()
        </main>
        <!-- Footer Start-->
        <footer>
            <div class="footer-area pt-50" style="background:#EDFFFF">
                <div class="container">
                    <div class="row pb-30 p-20">
                        <div class="col-sm-6 mb-30">
                            <div class="footer-container">
                                <div class="footer-left">
                                    <div class="footer-logo mb-20" style="justify-content: center;">
                                        <img src="~/web/images/Group.png" alt="Sun Medical Center" height="50" />
                                    </div>

                                    <p class="footer-desc m-0 text-center">
                                        Mang đến dịch vụ y tế chất lượng cao với đội ngũ bác sĩ chuyên môn giỏi, trang thiết bị hiện đại và quy trình chăm sóc tận tâm. Chúng tôi cam kết bảo vệ sức khỏe của bạn và gia đình, cung cấp giải pháp y tế toàn diện từ phòng ngừa đến điều trị, giúp bạn an tâm và khỏe mạnh mỗi ngày.
                                    </p>
                                    <div class="social-icons mt-20">
                                        <a href="#" class="social-box fb"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#" class="social-box tw"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="social-box in"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2 col-6">
                            <ul class="float-left mr-30 font-medium">
                                <li class="cat-item cat-item-2 text-c-10" style="font-weight:bold;margin-bottom:20px"><a href="category.html">Company</a></li>
                                <li class="cat-item cat-item-3 text-c-9"><a href="#">Về chúng tôi</a></li>
                                <li class="cat-item cat-item-4 text-c-9"><a href="#">Dịch vụ</a></li>
                                <li class="cat-item cat-item-5 text-c-9"><a href="#">Đặt lịch</a></li>
                                <li class="cat-item cat-item-6 text-c-9"><a href="#">Tìm bác sĩ</a></li>
                                <li class="cat-item cat-item-7 text-c-9"><a href="#">Điều khoản</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 col-6 mb-30">
                            <ul class="float-left mr-30 font-medium">
                                <li class="cat-item cat-item-2 text-c-10" style="font-weight:bold;margin-bottom:20px"><a href="category.html">Support</a></li>
                                <li class="cat-item cat-item-3 text-c-9"><a href="#">Về chúng tôi</a></li>
                                <li class="cat-item cat-item-4 text-c-9"><a href="#">Dịch vụ</a></li>
                                <li class="cat-item cat-item-5 text-c-9"><a href="#">Đặt lịch</a></li>
                                <li class="cat-item cat-item-6 text-c-9"><a href="#">Tìm bác sĩ</a></li>
                                <li class="cat-item cat-item-7 text-c-9"><a href="#">Điều khoản</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 col-6">
                            <ul class="float-left mr-30 font-medium">
                                <li class="cat-item cat-item-2 text-c-10" style="font-weight:bold;margin-bottom:20px"><a href="category.html">Contact</a></li>
                                <li class="cat-item cat-item-3 text-c-9"><a href="#">Về chúng tôi</a></li>
                                <li class="cat-item cat-item-4 text-c-9"><a href="#">Dịch vụ</a></li>
                                <li class="cat-item cat-item-5 text-c-9"><a href="#">Đặt lịch</a></li>
                                <li class="cat-item cat-item-6 text-c-9"><a href="#">Tìm bác sĩ</a></li>
                                <li class="cat-item cat-item-7 text-c-9"><a href="#">Điều khoản</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom aera -->
            <div class="footer-bottom-area text-muted" style="background:#EDFFFF">
                <div class="container">
                    <div class="footer-border pt-20 pb-20">
                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col-12">
                                <div class="footer-copy-right">
                                    <p class="font-small text-muted">Copyright ©2025 <strong>SunMedical</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </footer>
    </div>
    <div class="dark-mark"></div>
    <script src="~/web/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/web/assets/js/vendor/popper.min.js"></script>
    <script src="~/web/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/web/assets/js/vendor/jquery.slicknav.js"></script>
    <script src="~/web/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="~/web/assets/js/vendor/slick.min.js"></script>
    <script src="~/web/assets/js/vendor/wow.min.js"></script>
    <script src="~/web/assets/js/vendor/animated.headline.js"></script>
    <script src="~/web/assets/js/vendor/jquery.magnific-popup.js"></script>
    <script src="~/web/assets/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="~/web/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="~/web/assets/js/vendor/perfect-scrollbar.js"></script>
    <script src="~/web/assets/js/vendor/jquery.counterup.min.js"></script>
    <script src="~/web/assets/js/vendor/jquery.theia.sticky.js"></script>
    <script src="~/web/assets/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            const menuIcon = document.getElementById("menuToggle");
          if (menuIcon) {
            menuIcon.addEventListener("click", function () {
              this.classList.toggle("active");
            });
          }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>