<nav class="bottom-nav is-mobile">
    <div class="indicator" id="bottom-nav-indicator"></div>
    <ul class="menu bottom-nav-menu">
        <li>
            <a href="/about-us" class="active">
                <span class="icon">
                    <img src="https://www.nihongakuen.ed.jp/contents/wp-content/uploads/2020/07/4700EA98-4B42-429E-A0CB-E971186C7545-e1594775450622.png" width="100px" alt="">
                </span>
                <span class="text"></span>
            </a>
        </li>
        <li>
            <a href="tel:1800 8005" class="active2">
                <span class="icon">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Phone_icon.png" alt="">
                </span>
            </a>
        </li>
        <li>
            <a class="txtZalo" href="">
                <span class="icon">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Icon_of_Zalo.svg/2048px-Icon_of_Zalo.svg.png" alt="">
                </span>
            </a>
        </li>
        <li>
            <a class="txtFacebook" href="">
                <span class="icon">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/2048px-Facebook_icon.svg.png" alt="">
                </span>
            </a>
        </li>
        <li>
            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.75052847405!2d105.80155719999999!3d21.002634999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad6f2deb9785%3A0x74d1d3169c279367!2zUGjDsm5nIGtow6FtIMSRYSBraG9hIFN1biBNZWRpY2FsIFZp4buHdCBOYW0!5e0!3m2!1sen!2s!4v1754500631661!5m2!1sen!2s">
                <span class="icon">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Pin-location.png" alt="">
                </span>
            </a>
        </li>
        <li>
            <a href="#" id="btn-top">
                <span class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/3396/3396769.png" alt="">
                </span>
            </a>
        </li>
    </ul>
</nav>