
@{
    ViewData["Title"] = "Slider";
    Layout = "~/Areas/Admin/Views/Shared/_ViewAdmin.cshtml";
}
@section Scripts {
    <script src="~/ajax/webappservice.slider.js"></script>
}
<div class="card-header mt-2">
    <h4 class="card-title">Danh sách Slider</h4>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 border position-relative overflow-hidden">
                <div class="card-header p-1">
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-sm" id="btnNewForm" data-bs-toggle="tooltip" data-bs-placement="top" title="Thêm mới Slider">
                            <i class="ti ti-plus fs-2"></i> Tạo mới 
                        </button>
                    </div>
                </div>
                <div class="card-body p-2">
                    <table id="tableSlider" data-toggle="table" data-flat="true" data-search="true" data-url="">
                        <thead>
                            <tr>
                                <th data-field="" data-width="8" data-sortable="true" data-formatter="fm_Image">Ảnh</th>
                                <th data-field="SapXep" data-width="8" data-formatter="fm_SapXep" data-events="ev_SapXep">Số thứ tự</th>
                                <th data-field="TxtCard1" data-sortable="true" data-formatter="fm_UrlFile">Đường dẫn ảnh</th>
                                <th data-field="CbGiaoDien" data-sortable="true" data-formatter="fm_CbGiaoDien" >Phân loại thiết bị</th>
                                <th data-field="IsCongKhai" data-width="8" data-sortable="true" data-formatter="fm_IsCongKhai" data-events="ev_IsCongKhai">Công khai</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
