
@{
    ViewData["Title"] = "AboutUs";
}

<div class="entry-header entry-header-2 mb-3 mt-3 text-center">
    <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/web/assets/imgs/farme.png)">
    </div>
</div>
