.body-wrapper {
    padding-top: calc(45px + 30px);
}

#main-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

    #main-wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/root/icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        background-size: 30%;
        filter: blur(8px);
        z-index: 0;
        opacity: 0.1;
    }

    #main-wrapper .content {
        position: relative;
        z-index: 1;
        padding: 20px;
        color: black;
    }


.table > :not(caption) > * > * {
    padding: 6px 9px;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: transparent;
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

.bootstrap-table .fixed-table-container .table tfoot th .th-inner, .bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: .45rem;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    background-size: cover;
    color: white;
    background: #485882c2
}

.btn {
    --bs-btn-padding-x: 9px;
    --bs-btn-padding-y: 4px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 7px 12px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #5a6a85;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #ced7df;
    border-radius: 11px;
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color .15sease-in-out, box-shadow .15sease-in-out;
}
.sidebar-nav ul .sidebar-item.selected > .sidebar-link, .sidebar-nav ul .sidebar-item.selected > .sidebar-link.active, .sidebar-nav ul .sidebar-item > .sidebar-link.active {
    background-color: #c1c1c11a;
    color: #a71818;
}