.body-wrapper {
    padding-top: calc(45px + 30px);
}

#main-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

    #main-wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/root/icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        background-size: 30%;
        filter: blur(8px);
        z-index: 0;
        opacity: 0.1;
    }

    #main-wrapper .content {
        position: relative;
        z-index: 1;
        padding: 20px;
        color: black;
    }


.table > :not(caption) > * > * {
    padding: 6px 9px;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: transparent;
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

.bootstrap-table .fixed-table-container .table tfoot th .th-inner, .bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: .45rem;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    background-size: cover;
    color: white;
    background: #036199;
}



.form-control {
    display: block;
    width: 100%;
    padding: 4px 12px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4;
    color: #5a6a85;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #16151500;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #b8bfc3;
    border-radius: 5px;
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color .15sease-in-out, box-shadow .15sease-in-out;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link, .sidebar-nav ul .sidebar-item.selected > .sidebar-link.active, .sidebar-nav ul .sidebar-item > .sidebar-link.active {
    background-color: #c1c1c11a;
    color: #a71818;
}

.bg-dark-admin {
    border-radius: 0px !important;
    color: #fff !important;
    background-color: rgb(77 93 118) !important;
}

.text-limit-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 250px;
    cursor: pointer;
}

/*//Fixed Table Toolbar Styles*/
.fixed-table-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

    .fixed-table-toolbar .search {
        flex: 1;
        margin-left: 10px;
    }

        .fixed-table-toolbar .search input {
            width: 100%;
        }

/*// button service*/
.btn-info-local {
    --bs-btn-color: #0074ba;
    --bs-btn-bg: #e8eef4;
    --bs-btn-border-color: #bebebe;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4784d9;
    --bs-btn-hover-border-color: #427ccc;
    --bs-btn-focus-shadow-rgb: 109, 170, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #427ccc;
    --bs-btn-active-border-color: #3e74bf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #539bff;
    --bs-btn-disabled-border-color: #539bff;
}

.btn {
    --bs-btn-padding-x: 15px;
    --bs-btn-padding-y: 4px;
    font-weight: 700;
}

/*//card*/
.card-footer-form {
    background: #f6f6f6;
    z-index: 100;
    border-top: 2px solid #ebebeb;
    bottom: 0px;
    position: absolute;
    width: -webkit-fill-available;
}

.card-form-body {
    padding: 10px;
    height: calc(100vh - 130px);
    overflow-y: scroll;
    overflow-x: hidden;
}
